<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Petrolette</title>

    <link rel="icon" type="image/png" href="/static/images/petrolette.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/images/favicon-96x96.png">

    <link rel="stylesheet" href="/static/css/themes/day/jquery-ui.min.css">
    <link id="mobStyle" rel="stylesheet" href="/static/css/themes/night.css">

    <link rel="stylesheet" href="/static/css/fontello.css">

    <link rel="stylesheet" href="/bower/fancybox/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="/bower/intro.js/minified/introjs.min.css" />

    <link rel="stylesheet" href="/static/css/petrolette-ui.css">
    <link rel="stylesheet" href="/static/css/petrolette-ux.css">

    <script src="/bower/jquery/dist/jquery.min.js"></script>
    <script src="/bower/jquery-ui/jquery-ui.min.js"></script>

    <script src="/bower/intro.js/minified/intro.min.js"></script>

    <script src="/bower/fancybox/dist/jquery.fancybox.min.js"></script>
    <script src="/bower/radialIndicator/radialIndicator.min.js"></script>

    <script src="/bower/remotestorage/release/remotestorage.js"></script>
    <script src="/bower/rs-widget/build/widget.js"></script>

    <script src="/static/lib/js/main.js"></script>
    <script src="/static/lib/js/prefs.js"></script>
    <script src="/static/lib/js/i18n.js"></script>

    <script>

     MOB.language = MOB.prefs.readConfig('lang');

    </script>

  </head>

  <body>
    <div id="overlay"></div>

    <div class="preloadHiddenDiv">
      <i class="icon-arrows-cw"></i>
      <i class="icon-cog-1"></i>
      <i class="icon-cancel-2"></i>
      <i class="icon-check-empty-1"></i>
      <i class="icon-right-open"></i>
      <i class="icon-cancel-1"></i>
      <i class="icon-plus-1"></i>
      <i class="logoTitle"></i>
      <i class="feedTitle"></i>
      <i class="feedIcon"></i>
      <i class="feedToggleArrow"></i>
    </div>

    <nav class="topnav" id="topnav">

      <div id="menuButton"
           class="menuBarItem logoType translate"
           title="Set Pétrolette preferences/options""
           data-title="Set Pétrolette preferences/options">
        <i class="logoType icon-menu"></i>
        <span class="text translate"
              data-content="Menu">
          Menu
        </span>
      </div>
      <div id="helpButton"
           class="menuBarItem logoType translate helpButton"
           title="What is Petrolette?"
           data-title="What is Petrolette?">
        <i class="logoType icon-help-1"></i>
        <span class="text translate"
              data-content="Help">
          Help
        </span>
      </div>
      <div id="newSourceButton"
           class="menuBarItem logoType translate"
           title="Click to add a source"
           data-title="Click to add a source">
        <i class="logoType icon-plus-1"></i>
        <span class="text translate"
              data-content="Source">
          Source
        </span>
      </div>

      <div id="logoTitle">
        <div class="logoTitle">
          <a href="http://takeoff.petrolette.space">Pétrolette</a>
        </div>
        <div class="logoType">
          <i class="icon-petrolette"></i>
          <!-- <img alt="Pétrolette logo" src="/static/images/newlogo.png"> -->
        </div>
        <span id="betaBadge">beta</span>
      </div>

    </nav>

    <main>
      <div id="tabs" style="background-color:transparent;display:none;">
        <ul id="tabUl"></ul>
      </div>

      <div id="mobDialogs"></div>

    </main>

    <footer>
      <a href="javascript:" id="return-to-top"><i class="icon-up"></i></a>
    </footer>

    <script src="/static/lib/js/utilities.js"></script>
    <script src="/static/lib/js/tab.js"></script>
    <script src="/static/lib/js/feed.js"></script>
    <script src="/static/lib/js/dialog.js"></script>
    <script src="/static/lib/js/sync.js"></script>
    <script src="/static/lib/js/menu.js"></script>

    <script>

     $(document).ready(function() {

       $.getScript('/static/lib/js/init.js');

       $("#mobStyle").attr({href : '/static/css/themes/' + MOB.prefs.readConfig('theme') + '.css'});

       console.log('COLS: ', MOB.prefs.readConfig('columns'));

     });

    </script>

  </body>

</html>
