<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mobylette</title>
        <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png" />


        <script src="/bower/jquery/dist/jquery.js"></script>
        <script src="/bower/jquery-ui/jquery-ui.js"></script>

        <!-- <script src="https://code.jquery.com/ui/jquery-ui-git.js"></script>
        -->
        <script src="/bower/slidereveal/dist/jquery.slidereveal.js"></script>

        <link rel="stylesheet" href="/bower/fancybox/dist/jquery.fancybox.min.css" />
        <script src="/bower/fancybox/dist/jquery.fancybox.min.js"></script>


        <link rel="stylesheet" href="/static/css/themes/day/jquery-ui.css">
        <!-- <link rel="stylesheet" href="/static/css/themes/dayy/jquery-ui.theme.css">
        -->
        <!-- <link rel="stylesheet" href="https://code.jquery.com/ui/jquery-ui-git.css">
        -->

        <!-- <link rel="stylesheet" id="css-theme" href="/static/css/themes/night/jquery-ui.theme.css">
        -->
        <!-- <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/sofia" type="text/css"/> -->

        <link rel="stylesheet" href="/static/css/mob-ui.css">
        <link rel="stylesheet" href="/static/css/mobylette.css">

        <link rel="preload" href="/static/css/themes/day.css">
        <link rel="preload" href="/static/css/themes/night.css">



        <link id="mobStyle" rel="stylesheet" href="/static/css/themes/day.css">
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/gidole-regular" type="text/css"/>

        <link rel="stylesheet" href="/static/css/fontello.css">
        <!-- <link id="mobylette-theme" rel="stylesheet" href="/static/css/themes/day/jquery-ui.theme.css"> -->
        <script>

         $(document).ready(function() {

             $("#mobStyle").attr({href : '/static/css/themes/' + Prefs.readConfig('theme') + '.css'});

             $('button').button();

             var $tabs = $('#tabs').tabs({
                 heightStyle: 'content',
                 activate: function(event, ui) {

                     var $activeTab = $tabs.find('.ui-tabs-active');

                     $(document).prop('title', $activeTab.text() + ' | Mobylette');

                     $('.ui-tabs-tab i').remove();

                     var $thisCloseTabLink = $('<i class="icon-cancel-circled tabCloser">')
                         .hover(
                             function() {
                                 $(this).addClass('icon-cancel-circled-outline');
                             }, function() {
                                 $(this).removeClass('icon-cancel-circled-outline');
                             }
                         );

                     $activeTab.append($thisCloseTabLink);
                 }

             });

             var $tabUl = $('#tabUl');

             $tabUl.hover(
                 function(e) {

                     if (e.relatedTarget && e.relatedTarget.nodeName === 'BUTTON')
                         return false
                     else
                         $('#addTab, .addFeed').fadeIn('fast')

                 },
                 function(e) {

                     if (e.relatedTarget && e.relatedTarget.nodeName === 'BUTTON')
                         return false;
                     else
                         $('#addTab, .addFeed').fadeOut('slow');
                 }
             );

             // INIT

             var tabList = Prefs.readConfig('tabs');

             var parsed = JSON.parse(tabList);

             Tab.populateTabs(parsed)


             $('#addTab').click(function () {
                 Tab.newTab($tabs);
             });


             $tabs.find('.ui-tabs-nav').sortable({
                 axis: 'x',
                 stop: function() {
                     $tabs.tabs('refresh');
                     Tab.saveTabs()
                 }
             });

             $tabs.on('mouseup', '.ui-tabs-active a', function(e){
                 e.preventDefault();
                 if (e.which === 1)
                     Dialog.renameTab($(this))
             });

             $tabs.on("click", "i.tabCloser", function() {
                 Dialog.killTab($(this))
             });

             $('#tabs').find('div.feedControls').slideUp()

             // $('.mobDOM').fadeIn('slow')
             $('#addTab').fadeOut(2000);
             $('.addFeed').fadeOut(2000);

             // $( document ).tooltip();
         });

        </script>

    </head>

    <body>

        <div id="tabs" class="mobDOM">
            <ul id="tabUl"></ul>
        </div>

        <div id="mobDialogs"></div>

        <button id="addTab" class="mobDOM"><i class="icon-plus"></i> Tab</button>

        <script src="/static/lib/js/tab.js"></script>
        <script src="/static/lib/js/feed.js"></script>
        <script src="/static/lib/js/prefs.js"></script>
        <script src="/static/lib/js/menu.js"></script>
        <script src="/static/lib/js/dialog.js"></script>
        <script src="/static/lib/js/utilities.js"></script>

    </body>
</html>
