<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Pétrolette">
    <meta property="og:description" content="The fly-by-night news reader">
    <meta name="description" content="The fly-by-night news reader" />
    <meta property="og:image" content="http://takeoff.petrolette.space/img/screenshot-desktop.png">
    <meta property="og:url" content="http://petrolette.space">
    <meta name="twitter:card" content="summary_large_image">

    <title>About:javascript | Pétrolette</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/images/favicons/site.webmanifest">
    <link rel="mask-icon" href="/static/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/images/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="/static/images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/static/css/themes/base/jquery-ui.min.css">
    <link id="theme" rel="stylesheet" href="/static/css/themes/night.css">
    <link rel="stylesheet" href="/static/css/fontello.css">

    <link rel="stylesheet" href="/static/css/petrolette.css">

  </head>

  <body id="js">

    <nav id="top-menu" class="menu">

      <div class="topNav" id="topNav">

        <div id="menuButton"
             class="menuBarItem menuBarButton navLeft"
             onclick="window.location.href='/';">
          <i class="icon-right reversed topMenuIcon"></i>
        </div>

        <div class="menuBarItem navCenter">
        </div>

        <div id="logoTitle"
             class="navRight"
             title="Pétrolette">
          <div class="logoTitle">
            Pétrolette
          </div>
          <div class="logoType">
            <i class="icon-petrolette"></i>
          </div>
        </div>

      </div>
    </nav>

    <h1>JavaScript license information</h1>

      <table id="jsLicenseTable">

        <thead>
          <tr>
            <th>Script</th>
            <th>License</th>
            <th>Source</th>
          </tr>
        </thead>

        <tr>
          <td><a href="/jquery/jquery.min.js">jquery.min.js</a></td>
          <td><a href="https://jquery.org/license/">MIT Expat</a></td>
          <td><a href="/jquery/jquery.js">jquery-3.1.1.js</a></td>
        </tr>

        <tr>
          <td><a href="/jquery-ui/jquery-ui.min.js">jquery-ui.min.js</a></td>
          <td><a href="https://jquery.org/license/">MIT Expat</a></td>
          <td><a href="/jquery-ui/jquery-ui.js">jquery-ui.js</a></td>
        </tr>

        <tr>
          <td><a href="/dompurify/purify.min.js">purify.min.js</a></td>
          <td><a href="/bower/DOMPurify/LICENSE">Apache License Version 2.0 / Mozilla Public License Version 2.0</a></td>
          <td><a href="/dompurify/purify.js">purify.js</a></td>
        </tr>

        <tr>
          <td><a href="/responsively-lazy/responsivelyLazy.min.js">responsivelyLazy.min.js</a></td>
          <td><a href="http://opensource.org/licenses/MIT">MIT</a></td>
          <td><a href="/responsively-lazy/responsivelyLazy.js">responsivelyLazy.js</a></td>
        </tr>

        <tr>
          <td><a href="/rs/remotestorage.js">remotestorage.js</a></td>
          <td><a href="https://creativecommons.org/licenses/by/4.0/">CC-BY</a></td>
          <td><a href="/rs/remotestorage.js">remotestorage.js</a></td>
        </tr>

        <tr>
          <td><a href="/rs-widget/widget.js">widget.js</a></td>
          <td><a href="http://www.jclark.com/xml/copying.txt">GPL Expat</a></td>
          <td><a href="/rs-widget/widget.js">widget.js</a></td>
        </tr>

        <tr>
          <td><a href="/introjs/minified/intro.min.js">intro.min.js</a></td>
          <td><a href="https://introjs.com/docs/getting-started/license#open-source-license">GNU AGPLv3</a></td>
          <td><a href="/introjs/intro.js">intro.js</a></td>
        </tr>

        <tr>
          <td><a href="/fancybox/jquery.fancybox.min.js">jquery.fancybox.min.js</a></td>
          <td><a href="http://www.gnu.org/licenses/gpl-3.0.html">GNU-GPL-3.0</a></td>
          <td><a href="/fancybox/jquery.fancybox.js">jquery.fancybox.js</a></td>
        </tr>

        <tr>
          <td><a href="/static/js/PTL.main.js">PTL.main.js</a></td>
          <td><a href="http://www.gnu.org/licenses/gpl-3.0.html">GNU-GPL-3.0</a></td>
          <td><a href="/static/js/PTL.main.js">PTL.main.js</a></td>
        </tr>

        <tr>
          <td><a href="/static/js/PTL.prefs.js">PTL.prefs.js</a></td>
          <td><a href="http://www.gnu.org/licenses/gpl-3.0.html">GNU-GPL-3.0</a></td>
          <td><a href="/static/js/PTL.prefs.js">PTL.prefs.js</a></td>
        </tr>

        <tr>
          <td><a href="/static/js/PTL.i18n.js">PTL.i18n.js</a></td>
          <td><a href="http://www.gnu.org/licenses/gpl-3.0.html">GNU-GPL-3.0</a></td>
          <td><a href="/static/js/PTL.i18n.js">PTL.i18n.js</a></td>
        </tr>

        <tr>
          <td><a href="/static/js/PTL.util.js">PTL.util.js</a></td>
          <td><a href="http://www.gnu.org/licenses/gpl-3.0.html">GNU-GPL-3.0</a></td>
          <td><a href="/static/js/PTL.util.js">PTL.util.js</a></td>
        </tr>

        <tr>
          <td><a href="/static/js/PTL.tab.js">PTL.tab.js</a></td>
          <td><a href="http://www.gnu.org/licenses/gpl-3.0.html">GNU-GPL-3.0</a></td>
          <td><a href="/static/js/PTL.tab.js">PTL.tab.js</a></td>
        </tr>

        <tr>
          <td><a href="/static/js/PTL.col.js">PTL.col.js</a></td>
          <td><a href="http://www.gnu.org/licenses/gpl-3.0.html">GNU-GPL-3.0</a></td>
          <td><a href="/static/js/PTL.col.js">PTL.col.js</a></td>
        </tr>

        <tr>
          <td><a href="/static/js/PTL.feed.js">PTL.feed.js</a></td>
          <td><a href="http://www.gnu.org/licenses/gpl-3.0.html">GNU-GPL-3.0</a></td>
          <td><a href="/static/js/PTL.feed.js">PTL.feed.js</a></td>
        </tr>

        <tr>
          <td><a href="/static/js/PTL.dialog.js">PTL.dialog.js</a></td>
          <td><a href="http://www.gnu.org/licenses/gpl-3.0.html">GNU-GPL-3.0</a></td>
          <td><a href="/static/js/PTL.dialog.js">PTL.dialog.js</a></td>
        </tr>

        <tr>
          <td><a href="/static/js/PTL.sync.js">PTL.sync.js</a></td>
          <td><a href="http://www.gnu.org/licenses/gpl-3.0.html">GNU-GPL-3.0</a></td>
          <td><a href="/static/js/PTL.sync.js">PTL.sync.js</a></td>
        </tr>

      </table>

      <p>Use the force, read <a href="https://framagit.org/yphil/petrolette">the source</a>.</p>

  </body>
</html>
