<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Pétrolette">
    <meta property="og:description" content="The fly-by-night news reader">
    <meta name="description" content="The fly-by-night news reader" />
    <meta property="og:image" content="http://takeoff.petrolette.space/img/screenshot-desktop.png">
    <meta property="og:url" content="http://petrolette.space">
    <meta name="twitter:card" content="summary_large_image">

    <title>About:javascript | Pétrolette</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/images/favicons/site.webmanifest">
    <link rel="mask-icon" href="/static/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/images/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="/static/images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/static/css/themes/base/jquery-ui.min.css">
    <link id="theme" rel="stylesheet" href="/static/css/themes/night.css">
    <link rel="stylesheet" href="/static/css/fontello.css">

    <link rel="stylesheet" href="/static/css/petrolette.css">

  </head>

  <body id="js">

    <div id="logo-title">
      <div class="logo-title">
        <a href="/">Pétrolette</a>
      </div>
      <div class="logoType">
        <a href="/">
          <i class="icon-petrolette"></i>
        </a>
      </div>
    </div>

    <h1>JavaScript license information</h1>

    <table id="jslicense-labels1">

      <thead>
        <tr>
          <th>Script</th>
          <th>License</th>
          <th>Source</th>
        </tr>
      </thead>

      <tr>
        <td><a href="/bower/jquery/dist/jquery.min.js">jquery.min.js</a></td>
        <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
        <td><a href="https://code.jquery.com/jquery-3.1.1.js">jquery-3.1.1.js</a></td>
      </tr>

      <tr>
        <td><a href="/bower/jquery-ui/jquery-ui.min.js">jquery-ui.min.js</a></td>
        <td><a href="http://www.gnu.org/licenses/gpl-2.0.html">GNU-GPL-2.0-or-later</a></td>
        <td><a href="/bower/jquery-ui/jquery-ui.js">jquery-ui.js</a></td>
      </tr>

      <tr>
        <td><a href="/bower/remotestorage/release/remotestorage.js">remotestorage.js</a></td>
        <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
        <td><a href="/bower/remotestorage/src/remotestorage.js">remotestorage.js</a></td>
      </tr>

      <tr>
        <td><a href="/bower/rs-widget/build/widget.js">widget.js</a></td>
        <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
        <td><a href="/bower/rs-widget/src/widget.js">widget.js</a></td>
      </tr>

      <tr>
        <td><a href="/bower/intro.js/minified/intro.min.js">intro.min.js</a></td>
        <td><a href="http://www.jclark.com/xml/copying.txt">Expat</a></td>
        <td><a href="/bower/intro.js/intro.js">intro.js</a></td>
      </tr>

      <tr>
        <td><a href="/bower/fancybox/dist/jquery.fancybox.min.js">jquery.fancybox.min.js</a></td>
        <td><a href="http://www.gnu.org/licenses/gpl-3.0.html">GNU-GPL-3.0</a></td>
        <td><a href="/bower/fancybox/src/js/core.js">core.js</a></td>
      </tr>

      <tr>
        <td><a href="/static/js/PTL.main.js">PTL.main.js</a></td>
        <td><a href="http://www.gnu.org/licenses/gpl-3.0.html">GNU-GPL-3.0</a></td>
        <td><a href="/static/js/PTL.main.js">PTL.main.js</a></td>
      </tr>

      <tr>
        <td><a href="/static/js/PTL.prefs.js">PTL.prefs.js</a></td>
        <td><a href="http://www.gnu.org/licenses/gpl-3.0.html">GNU-GPL-3.0</a></td>
        <td><a href="/static/js/PTL.prefs.js">PTL.prefs.js</a></td>
      </tr>

      <tr>
        <td><a href="/static/js/PTL.i18n.js">PTL.i18n.js</a></td>
        <td><a href="http://www.gnu.org/licenses/gpl-3.0.html">GNU-GPL-3.0</a></td>
        <td><a href="/static/js/PTL.i18n.js">PTL.i18n.js</a></td>
      </tr>

      <tr>
        <td><a href="/static/js/PTL.util.js">PTL.util.js</a></td>
        <td><a href="http://www.gnu.org/licenses/gpl-3.0.html">GNU-GPL-3.0</a></td>
        <td><a href="/static/js/PTL.util.js">PTL.util.js</a></td>
      </tr>

      <tr>
        <td><a href="/static/js/PTL.tab.js">PTL.tab.js</a></td>
        <td><a href="http://www.gnu.org/licenses/gpl-3.0.html">GNU-GPL-3.0</a></td>
        <td><a href="/static/js/PTL.tab.js">PTL.tab.js</a></td>
      </tr>

      <tr>
        <td><a href="/static/js/PTL.col.js">PTL.col.js</a></td>
        <td><a href="http://www.gnu.org/licenses/gpl-3.0.html">GNU-GPL-3.0</a></td>
        <td><a href="/static/js/PTL.col.js">PTL.col.js</a></td>
      </tr>

      <tr>
        <td><a href="/static/js/PTL.feed.js">PTL.feed.js</a></td>
        <td><a href="http://www.gnu.org/licenses/gpl-3.0.html">GNU-GPL-3.0</a></td>
        <td><a href="/static/js/PTL.feed.js">PTL.feed.js</a></td>
      </tr>

      <tr>
        <td><a href="/static/js/PTL.dialog.js">PTL.dialog.js</a></td>
        <td><a href="http://www.gnu.org/licenses/gpl-3.0.html">GNU-GPL-3.0</a></td>
        <td><a href="/static/js/PTL.dialog.js">PTL.dialog.js</a></td>
      </tr>

      <tr>
        <td><a href="/static/js/PTL.sync.js">PTL.sync.js</a></td>
        <td><a href="http://www.gnu.org/licenses/gpl-3.0.html">GNU-GPL-3.0</a></td>
        <td><a href="/static/js/PTL.sync.js">PTL.sync.js</a></td>
      </tr>

    </table>

    <p>Use the force, read <a href="https://framagit.org/yphil/petrolette">the source</a>.</p>

  </body>
</html>
