:root {
  --ui-bg-color-pri: #2B374B;
  --ui-color-pri: #BFD8D1;
  --ui-color-sec: #FFDC00;
  --ui-color-ter: #6E7A94;
  --var-header-height: 26px;
  --var-controls-width: 150px;
  --var-controls-font-size: 16pt;
  --var-controls-toggle-size: 18pt;
}


@media screen and (max-width: 700px) {
  :root {
    --var-header-height: 42px;
    --var-controls-width: 75%;
    --var-controls-font-size: 26pt;
    --var-controls-toggle-size: 28pt;

    --var-width: red;
  }
}

body {
  background-color: var(--bg-color-ter) !important;
}

li.ui-tabs-active,
li.mobTab:first-child {
  box-shadow: none !important;
}

#tabUl,
#tabs {
  background: none;
  border-radius: 0;
}

li.mobTab {
  background-color: var(--bg-color-sec) !important;
}

h1, h2, p.ui {
  color: var(--ui-color-pri) !important;
}

p.dialog > a:link {
  color: var(--color-pri) !important;
}

p.dialog > a:visited {
  color: var(--color-pri) !important;
}

select {
  width:100%;
  height: 30px;
}

/* legend { */
/*   font-family: 'KaushanScriptRegular' !important; */
/*   font-weight: normal; */
/*   font-style: italic; */
/*   font-size:120% !important; */
/*   padding: .2em .8em .2em .4em; */
/* } */

fieldset > p {
  margin: 0  0 .2em 0;
}

fieldset a:link {
  color: var(--ui-color-pri);
}

fieldset a:visited {
  color: var(--ui-color-ter);
}

fieldset,
legend {
  background: var(--ui-bg-color-pri) !important;
  /* background-color: var(--bg-color-pri) !important; */
  color: var(--ui-color-pri);
  /* font-size:76% !important; */
}

legend {
  font-size: 9pt;
}

fieldset {
  /* border: 1px solid #BFD8D1 !important; */
  /* font-size:76% !important; */
}

#progressBar {
  position:absolute;
  /* float: left; */
  z-index: 9 !important;
  top: 0;
  left: 0;
  width: 100%;
  /* background-color: grey; */
}

#progressBar > #cursor {
  width: 1%;
  height: 2px;
}

#menu {
  /* border-right: #2e2e2e solid 1px; */
  padding:.5em;
  border: none !important;

  position: fixed;
  width: 275px;
  transition: all 300ms ease 0s;
  height: 100%;
  top: 0px;
  left: -291px;
}

#menu.expanded {
  left: 0px;
}

#mobNotify {
  bottom: 1em;
  position: absolute !important;
  width: 255px;
  display: none;
}

#mobNotify > p {
  margin:0;
}

#mobNotify > p > strong {
  text-transform: uppercase;
}

#mobNotify > p > strong.error {
  color: red !important;
}

#mobNotify > p > strong.success {
  color: green !important;
}

#menu,
.ui-dialog,
.ui-dialog .ui-dialog-buttonpane,
.handle {
  background-color: var(--ui-bg-color-pri);
  /* color: var(--ui-color-pri) !important; */
}

button#profile,
button#donate {
  text-align: left
}

.ui-dialog .ui-dialog-buttonpane {
  margin: 0 !important;
}

.ui-button:active,
.ui-button.ui-state-active:hover {
  background-color: #FFD05B !important;
  color: #2B374B !important;
}

.ui-state-active,
.ui-state-hover {
  background-color: #FFD05B !important;
  color: var(--ui-bg-color-pri);
}

.ui-state-success {
  background-color: #DFF2BF !important;
}

.ui-state-error {
  background-color: #FFBABA !important;
}

.logoItem {
  flex: 1 1 auto;
}

.tabCloser {
  font-size:.8rem;
  margin: .2rem .2rem 0 0;
  cursor:pointer;
}

#tabs .newFeed,
#menu > .handle {
  font-size: 2rem;
  position:absolute;
}

#tabs .newFeed {
  right:0;
  top:4px;
}

#menu > .handle {
  left:290px;
  bottom:10vh;
}

#menu > .handle > i {
  border: none !important;
  line-height: 0 !important;
}

#menu {
  animation: fadeIn ease 6s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

button#feedGuess,
.ui-spinner {
  margin: 0;
}

input {
  padding: .4em;
  margin-right: .4em;
}

fieldset.menuForm {
  height: 100%;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  justify-content: space-between;
}

fieldset {
  margin: 0 0 .5em 0;
  width: -moz-available;
  padding-bottom: .4em;
  padding-left: .4em;
  padding-right: .4em;
}

div.flexBox {
  width:-moz-available;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: .4em;
}

button#help {
  margin-bottom: .4em;
}

div.flexBox > label {
  flex: 1;
}

.grow {
  flex: 1 0 auto !important;
}

.shrink {
  flex: 0 1 4em !important;
}

.unique {
  flex: 1 100%;
  margin-right: 0 !important;
}

.twin {
  flex: 1;
}

.ui-button {
  margin-right: .4em;
  margin-bottom: 0;
}

span.ui-spinner,
.last {
  margin-right: 0;
}

label:last-child {
  margin-bottom: 0 !important;
}

.bottom {
  margin-bottom: 0;
}

/* .prefsForm > *:not(p) { */
/*     width: 100%; */
/* } */

div.testFlex {
  display:flex;
}

#spinner {
  width: 2rem;
}

.ui-slider {
  height: 31px;
  margin-right: .4em;
}

.ui-slider-handle {
  height: 38px !important;
  min-width: 38px;
  line-height: 38px;
  text-align: center !important;
}

.noBottom {
  margin-bottom:0;
}

.ui-selectmenu-button.ui-button {
  text-align: left;
  white-space: nowrap;
  width: 100% !important;
}

/* WTF */

#logo > h1 {
  font-family: 'LobsterRegular';
  font-weight: normal;
  font-style:  normal;
  font-size:   38pt;
  margin:      0 0 .2em .2em;
  color:       #F1E5D1;
  text-shadow: 1px 1px #3C2413;
}

#logo > .petrolette,
.ui-dialog-content .petrolette {
  color:     #84A6CB;
  font-size: 3.5rem  !important;
  margin:    -2px 0 0 0 !important;
}

.ui-dialog-content .petrolette {
  display: inline !important;
  font-size: 1.5rem !important;
}

#killDialog .petrolette {
  color:     red;
  font-size: 3.5rem  !important;
}

#logo {
  display: flex;
}

/* Wait screen */

#waitScreen{
  background-color: #7C818C;
}

#waitScreen > .wspinner {
  width: 200px;
  height: 200px;
  margin: 30% auto;
  background-color: #7395AE;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

#questionDialog > p {
  font-family: 'GrobeDeutschmeisterRegular';
  font-size: 4em;
  text-align:center;
}

button.dangerous:hover {
  /* border-color: #2B374B !important; */
  background-color: var(--color-danger) !important;
  color: var(--color-pri) !important;
}

i.dangerous:hover {
  color: var(--color-danger) !important;
  /* color: #2B374B !important; */
}

.ui-dialog .ui-dialog-titlebar-help {
  /* position: absolute; */
  right: 2em;
  /* top: 50%; */
}

#tabs {
  white-space: nowrap;
  overflow: hidden;
}

#tabs > ul {
  overflow: auto;
  overflow-y: hidden;
}

#tabs > ul > li {
  display: inline-block;
  float: none;
  vertical-align: bottom;
}

.tabSort {
  white-space: initial;
}

.droppableCopy:hover {
  cursor: copy !important;
}

li.ui-droppable-hover {
  background-color: red !important;
}

li.ui-droppable-hover a {
  border-color: red;
  cursor: copy !important;
  color: red !important;
}

.ui-dialog.ui-corner-all {
  border-radius: 0px !important;
}

img.icon-warning {
  vertical-align:middle;
  width:100px;
}

p.dialog-warning {
  font-size:26pt;
}

/* Hacks & workarounds */

button > i {
  margin-right: .3em !important;
}

/* Feed controls */

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mobHeader {
  cursor:grab;
  /* min-height:20px; */
  height: var(--var-header-height);

  max-height: var(--var-header-height);
  display: flex;
  /* align-content: stretch; */
  padding:0;
}

.flexGrow {
  flex-grow: 0 !important;
  flex-shrink: 0 !important;
  flex-basis: 100px !important;
}

.open {
  transform: rotate(180deg);
}


.mobHeader > div {
  transition: all 700ms;
}

.mobHeader > .feedToggle {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;

  margin: .2rem;
}

.mobHeader > .feedTitle {
  flex-grow: 4;
  flex-shrink: 1;
  flex-basis: auto;
}

.mobHeader > .myControlsToggleDiv {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  cursor: pointer;
  font-size: 18pt;
}

.mobHeader > .feedControls {

  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 0px;

  white-space: nowrap;
  overflow: hidden;

  cursor:pointer;

  background-color: var(--color-qua) !important;
}

.mobHeader .feedControls .controlsToggle:hover {
  color: var(--color-ter) !important;
}

.openControls {
  left:0 !important;
}

.openControls i {
  transform: rotate(180deg);
}

.mobHeader .feedControls .controlsToggle {
  position:relative;
  display: inline-block;
  height:var(--var-header-height);
  background-color: var(--color-qua) !important;
  margin: 0 5px 0 0;
  font-size: var(--var-controls-toggle-size);
  text-align: center;
}

.mobHeader .feedControls .controlsToggle:hover {
  background-color: var(--bg-color-pri);
}

.mobHeader .feedControls div {
  margin: 1px 1px 1px 0;
  flex: 1 100%;
}

.feedControl {
  font-size: var(--var-controls-font-size);
}

.mobHeader .ui-button {
  padding: 0 !important;
}

.mobHeader .feedControls div i.ui-button:first-child {
  margin: 0 !important;
}

/* From night */

#tabUl,
#tabs {
  background: none;
  border-radius: 0;
}

.handle {
  opacity: 0.6;
}

#newTabButton:hover,
.handle:hover {
  opacity: 1;
  color: var(--ui-color-sec) !important;
}

.handle,
#newTabButton a:link {
  color: var(--color-pri) !important;
}

#newTabButton {
  width: 40px;
  background-color: var(--color-qua);
  text-align: center;
}

#newTabButton a {
  font-size: 21.2pt;
  margin:0;
  padding:0;
  background-color: var(--color-qua);
  width: 100%;
  color: var(--color-pri) !important;
}

#newTabButton a:hover {
  background-color: var(--ui-bg-color-pri);
  color: var(--color-ter);
}

li.mobTab,
#newTabButton {
  box-shadow: inset 14px 0px 10px -3px rgba(0,0,0,0.19) !important;
}

li.ui-tabs-active,
div.ui-tabs-panel {
  background-color: var(--bg-color-ter) !important;
}

li.ui-state-hover:not(.ui-tabs-active) {
  background-color: var(--bg-color-ter) !important;
}

.ui-state-error {
  background-color: var(--bg-color-pri) !important;
  color: var(--color-danger);
}

i.tabCloser,
li.ui-tabs-active a:link {
  color: var(--color-pri) !important;
}

i.tabCloser,
li.ui-tabs-tab a:link {
  color: var(--color-pri) !important;
}

i.tabCloser:hover {
  color: var(--color-danger);
}

li.feed {
  background-color: var(--bg-color-pri) !important;
  color: var(--color-pri) !important;
}

li.feed a {
  color: var(--color-pri) !important;
}

.mobHeader {
  background-color: var(--bg-color-pri);
  color: var(--color-pri);
}

li.feedItem {
  background-color: var(--bg-color-sec) !important;
}

li.feedItem:nth-child(even) {
  background-color: var(--bg-color-qua) !important;
}

li.feedItem:hover {
  background-color: var(--bg-color-pri) !important;
  color: #000 !important;
}

li.feedItem a:visited {
  color: var(--color-sec);
}

#progressBar > #cursor {
  width: 1%;
  height: 2px;
  background-color: var(--color-sec);
  box-shadow: 0px 0px 6px 5px rgba(227,239,243,.2);
}

.fancybox-thumbs {
  background-color: var(--bg-color-qua) !important;
}
