#progressBar {
    position:absolute;
    /* float: left; */
    z-index: 999 !important;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: grey; */
}

#progressBar > #cursor {
    width: 1%;
    height: 2px;
}

#mobNotify {
    bottom: 1em;
    position: absolute !important;
    width: 255px;
    display: none;
}

#mobNotify > p {
    margin:0;
}

#mobNotify > p > strong {
    text-transform: uppercase;
}

#mobNotify > p > strong.error {
    color: red !important;
}

#mobNotify > p > strong.success {
    color: green !important;
}


div.mobDialog legend,
#slidermenu legend {
    font-family: 'GidoleRegular';
    font-weight: normal;
    font-style: ;
    color: #85144B !important;
    /* font-family: 'Ubuntu' !important; */
}

#slidermenu,
.ui-dialog,
.ui-dialog .ui-dialog-buttonpane,
.handle {
    background-color: #9099A2 !important;
    color:            #000000 !important;
}

.ui-dialog .ui-dialog-buttonpane {
    margin: 0 !important;
}

.handle {
    opacity: 0.6;
}

.handle:hover {
    opacity: 1;
    color:            #FFDC00 !important;
}

#slidermenu .ui-state-active,
#slidermenu .ui-state-hover {
    background-color: #FFDC00 !important;
    color: #001F3F !important;
}

#mobz {
    display: flex;
}

#menu {
    /* border-right: #2e2e2e solid 1px; */
    /* padding:.5em; */
    border: none !important;

    -moz-box-sizing: border-box;
    width: 0;
    transition: all 1s;
    float:left;
    overflow:hidden;
    opacity:0;

}

#tabs {
    width:100%;
    /* margin: 5px; */
    transition: all 1s;
}

#tabs.expanded {
    display:block !important;
    width: calc(70% - 5px);
}

#menu.expanded {
    width: 30%;
    opacity:1;
}

.logoItem {
    flex: 1 1 30%;
}

li.mobTab,
#newTabButton {
    margin: 0 0 0 0 !important;
    border: 0 !important;
    border-radius: 0 !important;
    box-shadow: inset 4px 0px 6px -4px rgba(0,0,0,0.19) !important;
}

.ui-tabs-panel {
    padding:0 !important;
}

.tabCloser {
    display: none;
    font-size:.8rem;
    margin: .2rem .2rem 0 0;
    cursor:pointer;
}

#tabs .newFeed,
#menuHandle {
    font-size: 2rem;
    background-color: #001F3F;
    position:absolute;
}

#tabs .newFeed {
    right:0;
    top:4px;
}

#menuHandle {
    left:0px;
    bottom:50px;
    display: block !important;
}

#menuHandle > i {
    border: none !important;
}

#slidermenu {
  animation: fadeIn ease 6s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.ui-slider-handle {
    text-align: center !important;
}

fieldset {
    margin: 0 0 .5em 0;
}

input {
    padding: .2em;
}

fieldset.prefsForm {
    display:flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: stretch;
}

label {
    margin: 5px 0;
}

#feedUrl,
div#testFlex div,
#feedType label {
    flex: 1;
}

div#testFlex {
    display:flex;
}

#spinner {
    width: 2rem;
}

.unique {
    /* width:49%; */
    flex: 1 100%;
}

div#feedLimit {
    height: 31px !important;
}

#feedLimit .ui-slider .ui-slider-handle {
        height: 38px !important;
        min-width: 30px;
        /* padding-top: 5px !important; */
        line-height: 38px !important;
        vertical-align: middle;
    /* padding-left: 5px; */
}

.grow {
    flex-grow: 3 !important;
}

.shrink {
    flex-shrink: 3 !important;
}

.left {
    margin-right:.2em !important;
}

.right {
    margin-left:.2em !important;
}

.twin {
    flex: 1;
}

.ui-selectmenu-button.ui-button {
    text-align: left;
    white-space: nowrap;
    width: 100% !important;
}

/* WTF */

fieldset,
legend {
    background-color: #6E7A94 !important;
    color:            #3C2413 !important;
}

legend {
    padding: .2em .5em;
}

#logo > h1 {
    font-family: 'LobsterRegular';
    font-weight: normal;
    font-style:  normal;
    font-size:   38pt;
    margin:      0 0 .2em .2em;
    color:       #F1E5D1;
    text-shadow: 1px 1px #3C2413;
}

#logo > .mobylette,
.mobDialog .mobylette {
    color:     #84A6CB;
    font-size: 3.5rem  !important;
    margin:    -2px 0 0 0 !important;
}

.mobDialog .mobylette {
    display: inline !important;
    font-size: 1.5rem !important;
}

.mobDialog p {
    vertical-align: middle;
    line-height: normal;
}

#killDialog .mobylette {
    color:     red;
    font-size: 3.5rem  !important;
}

#logo {
    display: flex;
}
