/* html { */
/*     overflow-x: auto; */
/*     overflow-y: auto; */
/* } */

/* Bootstrapping */
ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

/* Mobylette */
body {
    /* font-size:.8em !important; */
    margin:0 !important;
}

@font-face {
    font-family: LobsterRegular;
    src: url('/static/font/Lobster.otf') format("opentype");
    src: url('/static/font/Lobster.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Ubuntu;
    src: url('/static/font/ubuntu/Ubuntu-R.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* TABS */

.mobTab,
#newTabButton {
    margin: 0 0 0 0 !important;
    border: 0 !important;
    border-radius: 0 !important;
}

/* FEEDS */

.ui-tabs-panel {
    padding:0 !important;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.spinner {
  animation: spin-animation 0.5s infinite;
  display: inline-block;
}

.rotate {
    display:inline-block;
    cursor:pointer;
    transition: all .2s linear;
}

.rotate.down {
    transform: rotate(-90deg);
}

.rotate.other {
    transform: rotate(-180deg);
}

/* Fontello */
i[class^="icon-"]:before, i[class*=" icon-"]:before {
  margin: 0;
}

.feedType *  {
    flex-grow: 1;
}

.tab  {
    border: none !important;
    margin:0 !important;
}

#tabs li .ui-icon-close {
    /* float: left; */
    /* margin: 0.4em 0.2em 0 0; */
    cursor: pointer;
}

/* Feed */
ul.tabSort {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* align-items:flex-start; */
    /* padding-bottom: 0px !important; */

    /* column-count: 3; */
    /* columns: 15em; */
    /* column-gap: .3em; */
    padding: 0 2px;
    columns: 15rem;
    column-gap: .3em;
    min-height:30px;
}

li.feed {
    font-family: Verdana, Arial, sans-serif;
    page-break-inside: avoid;
    break-inside: avoid;
    display: inline-block;
    break-inside: avoid;
    vertical-align:top;
    margin: .2em 0 0 0;
    /* break-inside: avoid-column; */
    /* padding: 5px; */
}

ul.tabSort > li:first-child {
    /* border: 1px dashed red; */
    /* margin-left: 0; */
}

.tabSort li.feed,
.selected {
    /* padding: 2px; */
    /* width: 25%; */
}

#tabs .ui-widget-content {
    /* background: none !important; */
}

.selected,
li.feed {
    width: 100%;
    min-height:20px !important;
    /* max-width:300px !important; */
}


/* li.feed { */
/*   &:nth-child(4n+1){ */
/*      width: 250px; */
/*   } */
/*   &:nth-child(4n+2){ */
/*      width: 325px; */
/*   } */
/*   &:nth-child(4n+3){ */
/*      width: 180px; */
/*   } */
/*   &:nth-child(4n+4){ */
/*      width: 380px; */
/*   } */
/* } */

.feedBody {
    margin: 0;
}

.truncate {
    /* width: 250px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mobHeader {
    cursor:grab;
    /* min-width:100%; */
    min-height:20px;
    display: flex;
    /* align-content: stretch; */
    padding:.2rem;
}

.mobHeader > div {
    flex: 0 0 auto;
    /* width: 10rem; */
    /* white-space:nowrap; */
    /* display:inline-block; */
    /* display:none; */
}

.mobHeader .feedToggle {
    flex: 0 0 auto;
    margin: 0 .2rem 0 0;
}

.mobHeader .feedTitle {
    flex: 3 3 auto;
    /* width:50%; */
    /* font-size:.8em; */
    /* display: inline; */
}

.mobHeader .feedControls {
    flex: 0 0 auto;
    z-index:50;
    min-width:80px;
    align-items:flex-start;
    align-content:flex-start;
    /* position:absolute; */
    /* right:0; */
    /* float: right; */
    display: flex;
    justify-content: flex-end;
    padding:0;
}

.mobHeader .feedControls div {
  flex: 1 100%;
}

.feedControl {
    font-size: 1em !important;
}

.mobHeader .feedControls div i.ui-button {
    padding: 0 !important;
}


.selected {
    opacity: 0.5;
}


/* Item */

.feedTitle {
    font-size: 1em  !important;
}

li.feedItem {
    font-size: 10pt  !important;
}

li.feedItem a {
    display: block;
    width:100%;
    font-weight: bold;
    /* color: #111; */
}

li.feedItem a:link {
}

li.feedItem a:visited {
    /* color: #777 !important; */
}

li.feedItem a:hover {
    /* color: #fff !important; */
}

li.feedItem a:active {
    /* color: blue; */
}

li.feedItem {
    /* background-color: #eee !important; */
    padding: .2rem;
}

li.feedItem:nth-child(odd) {
    /* background-color: #ddd !important; */
}

li.feedItem:hover {
    /* background-color: #aaa !important; */
}

div.feedItem {
    /* border-bottom: 1px solid #c5c5c5 !important; */
}

div.feedItem img {
    max-width:50%;
    float:left;
    margin: 0 .2rem .2rem 0; /* Some gutter */
}

div.feedItem img.full {
    min-width:100%;
}

.ico-generic-rss {
    width: 16px;
    height: 16px;
    background-image: url("/static/images/generic-rss-32.png");
    background-size: 16px;
    background-repeat: no-repeat;
}

.tabSort .ui-sortable-placeholder {
    visibility: visible !important;
    border: 3px dashed !important;
}

.feedToggle > .ui-icon {
    margin: .1rem .2rem 0 .1rem;
}

button.addFeed {
    position: absolute;
    top: .6em;
    right: .5em;
}

.tabCloser {
    font-size:.8rem;
    margin: .2rem .2rem 0 0;
    cursor:pointer;
}

li.feedItem {
    border:0 !important;
}

/* Theme Overrides */
.ui-widget-content,
.ui-widget-header {
    border: none !important;
}

.feed {
    border: #AAAAAA 1px solid !important;
    padding: 0;
}
