/* html { */
/*     overflow-x: auto; */
/*     overflow-y: auto; */
/* } */

body {
    background-color: #3e3e3e;
    /* font-size:.8em !important; */
    /* margin:0; */
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: "klavika-web", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif !important;
}

h1 {
    margin: .5em .5em;
}

ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

.flip { transform: rotate(-180deg);}

div.mobylette {
    /* background-color: #3e3e3e; */
    /* border-right: #2e2e2e solid 1px; */
    padding:.5em;
    border: none !important;
}

button.mobylette {
    margin-top: .5em;
}

.mobylette > h1 {
    color: #fc6a10;
}

.mobylette > .handle {
    font-size: 2rem;
    background-color: #3e3e3e;
    position:absolute;
    left:290px;
    bottom:50px;
}

.mobylette > .handle > i {
    border: none !important;
}

.mobylette h1 i {
    font-size: 10rem;
}


.mobylette > h1 > span {
    font-size:1.4em;
    color: orange;
    text-shadow: 1px 1px #5e354a;
}

fieldset {
    margin: 0 0 .5em 0;
}

fieldset > button {
    width:100%;
}

/* JQ UI Defaults */
fieldset.mobDialog label,
fieldset.mobDialog input {
    display:block;
}

input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset.mobDialog { padding:0; border:0; margin-top:25px; }

fieldset.prefsForm > label,
fieldset.prefsForm > button,
.ui-slider {
    margin: 0 0 .5em 0;
    /* width:220px; */
}

.ui-tabs-panel {
    padding:0 !important;
}

.small-button {
    font-size: .2em !important;
    margin:0;
    /* display: table-cell; */
    vertical-align: top;
}

label.feedSelect {
    padding: 0 !important;
}

.tab {
    /* text-align: right; */
    /* Spinner */
}


@keyframes spinner {
    to {transform: rotate(360deg);}
}

.spinner:after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 65%;
    left: 65%;
    width: 16px;
    height: 16px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    animation: spinner .6s linear infinite;
}

#tabDropActivate {
    width:100%;
}

.rotate {
    display:inline-block;
    cursor:pointer;
    transition: all .2s linear;
}

.rotate.down {
    transform: rotate(-90deg);
}

.rotate.other {
    transform: rotate(-180deg);
}

/* Fontello */
i[class^="icon-"]:before, i[class*=" icon-"]:before {
  margin: 0;
}

.feedType {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.feedType *  {
    flex-grow: 1;
}

#savingIcon {
    font-size: 2rem;
    position:fixed;
    top: .4em;
    right: .6em;
    display:none;
}

.tab  {
    min-height:100%;
}

#tabs li .ui-icon-close {
    /* float: left; */
    /* margin: 0.4em 0.2em 0 0; */
    cursor: pointer;
}

#tabs {
    min-height:80px;
}

/* Feed */

ul.tabSort {
    /* display: inline; */
    display: flex;
    flex-flow: row wrap;
    /* max-height: 800px; */
    /* max-width: 100%; */
    align-items:flex-start;
    align-content:flex-start;
    /* margin-left: -8px; /\* Adjustment for the gutter *\/ */
    padding-bottom: 0px !important;
}

li.feed {
    /* flex: auto; */
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: content;

    /* align-self:stretch; */
    /* min-width: 150px; */
    margin: .2rem .2rem 0 .2rem; /* Some gutter */
  /* transition: width 0.7s ease-out; */
}

ul.tabSort--gutters {
  margin: -1em 0 0 -1em;
}

ul.tabSort--gutters > li.feed {
  padding: 1em 0 0 1em;
}

/* li.feed:first-child { */
/*     margin-left: 0; /\* Some gutter *\/ */
/* } */

.tabSort li.feed,
.selected {
    /* padding: 2px; */
    /* width: 25%; */
}

.selected,
li.feed {
    width:250px !important;
}

div.feedItem {
    padding: .2rem;
}

div.feedItem img {
    max-width:50%;
    float:left;
    margin: 0 .2rem .2rem 0; /* Some gutter */
}

div.feedItem img.full {
    min-width:100%;
}

/* li.feed { */
/*   &:nth-child(4n+1){ */
/*      width: 250px; */
/*   } */
/*   &:nth-child(4n+2){ */
/*      width: 325px; */
/*   } */
/*   &:nth-child(4n+3){ */
/*      width: 180px; */
/*   } */
/*   &:nth-child(4n+4){ */
/*      width: 380px; */
/*   } */
/* } */

.feedBody {
    margin: 0;
}

.truncate {
    /* width: 250px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mobHeader {
    cursor:grab;
    /* min-width:100%; */
    min-height:20px;
    display: flex;
    /* align-content: stretch; */
    padding:.2rem;
}

.mobHeader > div {
    flex: 0 0 auto;
    /* width: 10rem; */
    /* white-space:nowrap; */
    /* display:inline-block; */
    /* display:none; */
}

.mobHeader .feedToggle {
    flex: 0 0 auto;
    margin: 0 .2rem 0 0;
}

.mobHeader .feedTitle {
    flex: 3 3 auto;
    /* width:50%; */
    /* font-size:.8em; */
    /* display: inline; */
}

.mobHeader .feedControls {
    flex: 0 0 auto;
    z-index:50;
    min-width:80px;
    align-items:flex-start;
    align-content:flex-start;
    /* position:absolute; */
    /* right:0; */
    /* float: right; */
    display: flex;
    justify-content: flex-end;
    padding:0;
}

.mobHeader .feedControls div {
  flex: 1 100%;
}

.feedControl {
    font-size: 1em !important;
}

.mobHeader .feedControls div i.ui-button {
    padding: 0 !important;
}


.selected {
    opacity: 0.5;
}

/* Item */
li.feedItem {
    background: dimgray;
}

.feedItem a:link {
    color: white;
}

/* visited link */
.feedItem a:visited {
    color: lightgray;
}

.ico-generic-rss {
    width: 16px;
    height: 16px;
    background-image: url("/static/images/generic-rss-32.png");
    background-size: 16px;
    background-repeat: no-repeat;
}

/* /\* mouse over link *\/ */
/* .feedItem a:hover { */
/*     color: hotpink; */
/* } */

/* selected link */
.feedItem a:active {
    color: blue;
}

li.feedItem:nth-child(odd) { background: slategray; }

li.feedItem:hover {
    background: darkslategray;
}

.tabSort .ui-sortable-placeholder {
    visibility: visible !important;
    border: 5px dashed !important;
}

.mobDOM {
    display: none;
}

.feedToggle > .ui-icon {
    margin: .1rem .2rem 0 .1rem;
}

.icon-down-dir {
    background: 0 !important;
}

button#addTab,
button.addFeed {
    position: absolute;
    top: .6em;
    right: .5em;
}

button.addFeed {
    right: 6em;
}
