body {
    background-color: #3e3e3e;
    /* font-size:.8em !important; */
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: "klavika-web", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif !important;
}

h1 {
    margin: .5em .5em;
}

ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

.flip { transform: rotate(-180deg);}

div.mobylette {
    background-color: #3e3e3e;
    border-right: #2e2e2e solid 1px;
    padding:.5em;
}

button.mobylette {
    margin-top: .5em;
}

.mobylette h1 {
    color: #fc6a10;
}


.mobylette h1 i {
    font-size: 10rem;
}


.mobylette h1 span {
    font-size:1.4em;
    color: orange;
    text-shadow: 1px 1px #5e354a;
}

fieldset label,
button {
    margin: 0 .5em .5em 0;
}

/* .hidden { */
/*     display:none; */
/* } */

.ui-tabs-panel {
    padding:.4em .1em !important;
}

label { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }

.small-button {
    font-size: .2em !important;
    margin:0;
    /* display: table-cell; */
    vertical-align: top;
}

label.feedSelect {
    padding: 0 !important;
}

button.addFeed {
  position: absolute;
  bottom: 0;
  /* left: 0; */
}

/* Spinner */

@keyframes spinner {
    to {transform: rotate(360deg);}
}

.spinner:after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 65%;
    left: 65%;
    width: 15px;
    height: 15px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    animation: spinner .6s linear infinite;
}

#tabDropActivate {
    width:100%;
}

.rotate {
    display:inline-block;
    cursor:pointer;

    /* -moz-transition: all 2s linear; */
    /* -webkit-transition: all 2s linear; */
    transition: all .2s linear;
}

.rotate.down {
    /* -ms-transform: rotate(-90deg); */
    /* -moz-transform: rotate(-90deg); */
    /* -webkit-transform: rotate(-90deg); */
    transform: rotate(-90deg);
}

/* Fontello */
i[class^="icon-"]:before, i[class*=" icon-"]:before {
  margin: 0;
}

.inlineButtons {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.inlineButtons *  {
    flex-grow: 1;
}

#savingIcon {
    font-size: 2rem;
    position:absolute;
    top: .4em;
    right: .6em;
    display:none;
}


.tab  {
    min-height:100%;
}

#tabs li .ui-icon-close {
    /* float: left; */
    /* margin: 0.4em 0.2em 0 0; */
    cursor: pointer;
}

/* Feed */

ul.tabSort {
    /* display: inline; */
    display: inline-flex;
    flex-flow: row wrap;
    align-items:flex-start;
    align-content:flex-start;
    /* margin-left: -8px; /\* Adjustment for the gutter *\/ */
}


.tabSort li.feed,
.selected {
    /* margin: 0 5px 5px 5px; */
    padding: 2px;
    font-size: 1.2em;
    width: 25%;
}

.selected,
li.feed {
    width:250px !important;
}

li.feed {
  flex: auto;
  /* align-self:stretch; */
  min-width: 150px;
  margin: .5rem; /* Some gutter */
  transition: width 0.7s ease-out;
}

/* li.feed { */
/*   &:nth-child(4n+1){ */
/*      width: 250px; */
/*   } */
/*   &:nth-child(4n+2){ */
/*      width: 325px; */
/*   } */
/*   &:nth-child(4n+3){ */
/*      width: 180px; */
/*   } */
/*   &:nth-child(4n+4){ */
/*      width: 380px; */
/*   } */
/* } */

.feedBody {
    margin: 0;
}

.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mobHeader {
    cursor:grab;
    min-width:100%;
    min-height:22px;
    display: flex;
}

.mobHeader > div {
    flex: 0 0 auto;
    /* width: 10rem; */
    /* white-space:nowrap; */
    /* display:inline-block; */
    /* display:none; */
}

.mobHeader .feedToggle {
    flex: 3 0 auto;
    flex: initial;
    flex-shrink: 3;
}

.mobHeader .feedTitle {
    flex: 0 3 auto;
    flex-shrink: 3;
    /* width:50%; */
    font-size:.8em;
    /* display: inline; */
}

.mobHeader .feedControls {
    flex: 3 0 auto;
    z-index:5;
    min-width:80px;
    /* position:absolute; */
    /* right:0; */
    /* float: right; */
    display: flex;
    justify-content: flex-end;
}

.mobHeader .feedControls div {
  flex: 1 100%;
}

.feedControl {
    font-size: .8em !important;
}

.mobHeader .feedControls div i.ui-button {
    padding: 0 !important;
}


.selected {
    opacity: 0.5;
}

/* Item */
li.feedItem {
    background: dimgray;
}

.feedItem a:link {
    color: white;
}

/* visited link */
.feedItem a:visited {
    color: lightgray;
}

/* /\* mouse over link *\/ */
/* .feedItem a:hover { */
/*     color: hotpink; */
/* } */

/* selected link */
.feedItem a:active {
    color: blue;
}

li.feedItem:nth-child(odd) { background: slategray; }

li.feedItem:hover {
    background: darkslategray;
}
