:root {
  --color-ui-pri: #f4f4f4;
  --color-ui-sec: #19B5FE;
  --color-ui-ter: #C0B283;
  --color-ui-qua: #22313F;
  --color-ui-qui: #808080;
  --color-ui-sen: #f26522;
  --color-ui-sep: #ccc;
  --color-ui-oct: #2b2b2b;

  --color-ui-title-one: #ff4136;
  --color-ui-console-bg: #eee8d5;
  --color-ui-console-fg: #002b36;
  --color-ui-console-normal: #268bd2;
  --color-ui-console-error: #dc322f;
  --color-ui-console-success: #859900;
  --color-ui-console-warning: #b58900;

  --color-ui-rss: #f26522;

  --header-height: 26px;
  --controls-width: 150px;
  --controls-font-size: 16pt;
  --controls-toggle-size: 22px;

  --side-menu-width-expanded: 275px;
  --side-menu-width: -291px;

  --panel-flex: row nowrap;
  --column-buttons-display: flex;
  --column-padding: 0 0 150px 0;

  --dialog-flex-direction: row;
  --controls-toggle-margin: -2px 0 0 -2px;
  --handle-flex-shrink: 0;
  --handle-visibility: visible;

  --title-margin-left: 4px;

  --color-ui-danger: #C63D0F;
  --color-ui-success: #4db53c;
  --color-ui-warning: #ff8700;

  --columns: auto 3;

  --logo-display: inline;

}

@media screen and (max-width: 700px) {
  :root {
    --header-height: 42px;
    --controls-width: 75%;
    --controls-font-size: 29pt;
    --controls-toggle-size: 42px;
    --controls-toggle-margin: -2px 0 0 -2px;

    --panel-flex: column;
    --column-buttons-display: none;
    --column-padding: 0;

    --side-menu-width-expanded: 100%;
    --side-menu-width: -999px;

    --dialog-flex-direction: column;

    --handle-flex-shrink: 1;
    --handle-visibility: collapse;

    --title-margin-left: 0;

    --columns: auto;
    --logo-display: none;

  }
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

@font-face {
  font-family: LobsterRegular;
  font-style: normal;
  font-weight: normal;
  src: url('/static/font/Lobster.otf') format("opentype");
  src: url('/static/font/Lobster.ttf') format('truetype');
}

@font-face {
  font-family: BebasNeueRegular;
  font-style: normal;
  font-weight: normal;
  src: url('/static/font/BebasNeue.otf') format("opentype");
}

body {
  color: var(--color-pri);
  background-color: var(--color-oct);
  font-family: Arial,Helvetica,sans-serif;
  margin:0;
}

#load-spinner > div {
  color: var(--color-pri);
  font-size: 12pt;
}

#load-spinner > div > i {
  line-height: 0;
  font-size: 8em;
}

#load-spinner > div > div {
  margin: 2em 0 0 0;
  color: var(--color-pri);
  font-size: 12pt;
}

#no-script {
  padding: 1em 0;
  margin: 3vh auto;
  background: var(--color-ui-qua);
}

#no-script > * {
  margin: 0 0 0 25%;
}

#preload {
  height:0px;
  overflow:hidden;
  width:0px;
}

#preload > .logo-title {
  font-family: LobsterRegular;
}

#preload > .feed-title {
  font-family: BebasNeueRegular;
}

#preload > .fontello {
  font-family: fontello;
}

h1,
h2,
h3,
h4 {
  color: var(--color-ui-sec);
  margin-bottom: .3em;
  margin-top: .6em
}

h1 {
  color: var(--color-ui-title-one);
  margin-top: 0
}

p,
.ui-dialog,
div.dialog {
  line-height: 1.5em;
  color: var(--color-ui-pri);
}

.ui-dialog p {
  margin: 0 0 .4em .4em;
}

#console {
  border-radius: 3px;
  background-color: var(--color-ui-console-bg);
  color: var(--color-ui-console-fg);
  cursor: pointer;
  font-family: monospace;
  height: 2.5em;
  overflow-wrap: break-word;
  overflow-y: scroll;
  padding: 0 .2em;
  position:relative;
  text-align:left;
  transition: height .3s ease-in-out;
}

#console.expanded {
  height: 120px;
}

#console > div > span.prompt {
  margin-right: 3px;
  font-weight: 900;
  color: var(--color-ui-console-fg);
}

#console div.normal {
  color: var(--color-ui-console-normal);
}

#console div.error {
  color: var(--color-ui-console-error);
}

#console div.success {
  color: var(--color-ui-console-success);
}

#console div.warning {
  color: var(--color-ui-console-warning);
}

kbd.key {
  background-color: var(--color-ui-pri);
  color: var(--color-ui-qua);
  border-radius: 3px;
  padding: 2px;
  margin: 0 2px;
  border: 1px solid var(--color-ui-qua);
}

ul {
  list-style-type: none;
  margin:0;
  padding:0;
}

#no-script ul {
  list-style-type: disc;
  /* padding: .2em; */
}

#no-script h1 {
  font-style: italic;
  color: var(--color-ui-danger);
}

#no-script ul > li {
  margin: .3em 0;
  /* padding: .2em; */
}

a:link {
  color: var(--color-pri);
  text-decoration: none;
}

a:visited {
  color: var(--color-qui);
}

a:hover,
a:active {
  color: var(--color-sec);
}

.ui-tab {
  padding: 0;
}

.ui-tab#new-group {
  width: 40px;
}

.ui-tab#new-group {
  background-color: var(--color-qua);
}

.ui-tab.ui-state-default {
  background: var(--color-non);
  border-right: 1px solid var(--color-sep) !important;
}

.ui-tab.ui-state-active {
  border-right: none !important;
}

.ui-tab#new-group:hover,
.ui-tab.ui-state-hover {
  background: var(--color-sep);
}

.ui-tab.ui-state-default a:link,
.ui-tab.ui-state-default a:visited,
.ui-tab.ui-state-default a:hover,
.ui-tab.ui-state-default a:active {
  color: var(--color-pri);
}

.ui-tab.ui-state-active a:link,
.ui-tab.ui-state-active a:visited,
.ui-tab.ui-state-active a:hover,
.ui-tab.ui-state-active a:active {
  color: var(--color-pri);
}

.ui-tab.ui-state-hover a:link,
.ui-tab.ui-state-hover a:visited,
.ui-tab.ui-state-hover a:hover,
.ui-tab.ui-state-hover a:active {
  color: var(--color-sec);
}

.ui-tab.ui-state-hover a,
.ui-tab.ui-state-active a {
  cursor: pointer !important;
  color: var(--color-sec);
}

.ui-tab.ui-state-active {
  background: var(--color-oct);
}

#tab-names,
#tabs {
  background: none;
}

i.item-icon {
  float: right;
  margin: .2em;
}

i.tab-closer:hover,
i.feed-control:hover {
  color: var(--color-ui-sec);
}

i.danger,
i.dangerous:hover {
  color: var(--color-ui-danger);
}

.feed-header > .feed-title > a:link,
.feed-header > .feed-title > a:visited  {
  color: var(--color-pri);
}

.feed-header > .feed-title > a.danger:link,
.feed-header > .feed-title > a.danger:visited  {
  color: var(--color-ui-danger);
}

.feed-header > .feed-title > a.danger:hover,
.feed-header > .feed-title > a:hover {
  color: var(--color-sec);
}

li.feed-item:not(.error) a {
  display: block;
  width:100%;
}

li.feed-item.error > strong.key {
  color: var(--color-ui-danger);
}

.spin {
  animation: spin-animation .5s infinite;
  display: inline-block;
  color: var(--color-ui-sec);
}

#waitScreen > .spin {
  font-size: 400%;
}

.rotate {
  display:inline-block;
  transition: all .2s linear;
}

.rotate.down {
  transform: rotate(-90deg);
}

.rotate.right {
  transform: rotate(180deg);
}

.rotate.close {
  transform: rotate(-180deg);
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  display:initial;
  margin:0;
}

#overlay {
  background-color: rgba(0,0,0,0.2);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.hidden {
  display:none;
}

#new-group.hidden {
  display:none !important;
}

input {
  margin:0;
  padding: .4em;
}

input#feed-guess {
  margin-right: .4em;
}

.dead-center {
  height: 300px;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
  position: absolute;
  text-align:center;
  top: 50%;
  width: 300px;
}

select {
  width:100%;
  height: 30px;
}

fieldset > p {
  margin: 0  0 .2em 0;
}

fieldset,
legend {
  background: none !important;
  color: var(--color-ui-pri);
}

.menu legend {
  font-size: 9pt;
}

.js-enabled-only {
  display: none;
  /* visibility: hidden; */
}

nav#side-menu {
  border: none;
  height: 100%;
  left: var(--side-menu-width);
  padding: 45px 0 0 0;
  position: fixed;
  top: 0;
  transition: all .1s ease-out;
  width: var(--side-menu-width-expanded);
  z-index:11;
}

nav#side-menu.expanded {
  left: 0px;
}

#progress-bar {
  color: var(--color-ui-sec);
}

.ui-progressbar {
  position: relative;
}

.progress-label {
  position: absolute;
  left: .4em;
  top: 7px;
  color: var(--color-ui-oct);
}

.progress-label.on {
  color: var(--color-ui-pri);
}

.ui-progressbar .ui-progressbar-value {
  background: var(--color-ui-sec);
  border: 1px solid var(--color-ui-sec) !important;
  margin: none;
}

.baseline {
  color: #2f220a;
  font-family: "Times New Roman",Bodoni,Garamond,"Minion Web","ITC Stone Serif","MS Georgia", serif;
  font-size: 10.5pt;
  left: 3px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.baseline > span {
  text-shadow: #FC0 1px 0 10px;
}

nav#side-menu,
#topnav,
.ui-dialog,
.ui-dialog .ui-dialog-buttonpane {
  background: var(--color-ui-qua);
  border-color: var(--color-ui-qua);
}

.ui-dialog .ui-dialog-buttonpane {
  margin: 0;
}

/* .ui-tabs-anchor { */
/*   cursor: pointer; */
/* } */

.ui-tabs {
  padding: 0;
}

i.tab-icon {
  cursor: pointer;
  display: none;
  font-size: .7em;
  position:absolute;
  right: 3px;
  /* top: 3px; */
}

i.tab-closer {
  top: 2px;
}

i.tab-edit {
  top: 20px;
}

button#feed-guess,
.ui-spinner {
  margin: 0;
}

fieldset.menuForm {
  display: -webkit-flex;
  height: 100%;
  justify-content: space-between;
}

fieldset {
  margin: 0 0 .2em 0;
  padding-bottom: .4em;
  padding-left: .4em;
  padding-right: .4em;
  width: -moz-available;
}

.ui-widget-header {
  background: none;
  color: var(--color-ui-sec);
  font-weight: bold;
}

.ui-widget-content,
.ui-widget-header {
  border: none !important;
}

.ui-state-default {
  border: 3px solid var(--color-ui-sep);
}

.ui-button:not(.ui-spinner-button) {
  margin-right: .4em;
}

.rs-button {
  margin-right: 0;
}

.ui-button.last {
  margin-right: 0;
}

.grow {
  flex: 1 0 auto !important;
}

.ui-slider-handle.ui-state-active,
.ui-button.ui-state-active {
  border: 3px solid var(--color-ui-sec);
  background-color: var(--color-ui-sec);
}

#console,
.ui-button:hover,
.ui-slider-handle.ui-state-default,
.ui-button:focus,
.ui-button.ui-state-disabled:hover,
.ui-button.ui-state-disabled:active,
.ui-button {
  border: 3px solid var(--color-ui-sep);
}

.rs-button {
  border: 3px solid var(--color-ui-sep) !important;
}

.rs-button:hover {
  border: 3px solid var(--color-ui-sec) !important;
}

#console:hover,
.ui-button-icon-only:focus,
.ui-slider-handle:focus,
.ui-slider-handle:hover,
.ui-button:hover,
.ui-button:focus,
#feedGroup:focus {
  border: 3px solid var(--color-ui-sec);
}

.ui-button-icon-only {
  border: none;
}

.ui-button-icon-only:hover,
.ui-button-icon-only:focus {
  color: var(--color-ui-pri);
}

.ui-button-icon-only:hover {
  background-color: var(--color-ui-sec);
}

a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover,
.ui-button:active,
.ui-button.ui-state-active:hover,
.null {
  border: 3px solid var(--color-ui-sec);
  color: var(--color-ui-pri);
  background-color: var(--color-ui-sec);
}

.ui-button.ui-state-active:hover,
.ui-button.ui-state-active:focus,
.null {
  border: 3px solid var(--color-ui-sep);
}

.ui-button.ui-state-active.dangerous,
.ui-button.dangerous:focus,
.ui-button.dangerous:hover,
.ui-button.dangerous:active,
.null {
  background-color: var(--color-ui-danger);
  color: var(--color-ui-pri);
  border: 3px solid var(--color-ui-danger);
}

button.ui-state-success {
  background-color: var(--color-ui-success) !important;
}

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error,
button.ui-state-error {
  border: 3px solid var(--color-ui-danger);
  color: var(--color-ui-pri);
  background-color: var(--color-ui-danger) !important;
}

.ui-slider-handle {
  /* top: -.4em; */
  height: 36px !important;
  line-height: 38px;
  min-width: 38px;
  text-align: center;
}

.ui-slider {
  height: 32px;
  margin-right: .4em;
}

.dialog button.help-button {
  background-color: var(--color-ui-success);
  /* border-color: var(--color-ui-success); */
  color: var(--color-ui-pri);
  padding: .4em;
}

.feed-header > .feed-handle,
.dialog .help-bookmarklet {
  cursor: grab;
}

.dialog button.help-button:focus,
.dialog button.help-button:hover {
  color: var(--color-ui-pri);
  background-color: var(--color-ui-success);
}

.ui-dialog .ui-dialog-titlebar-help {
  background-color: var(--color-ui-success);
  color: var(--color-ui-pri);
  height: 20px;
  margin: -10px 0 0 0;
  padding: 1px;
  position: absolute;
  right: 2.5em;
  top: 50%;
  width: 20px;
}

/* .ui-visual-focus { */
/*   box-shadow: none; */
/* } */

ul.help {
  /* list-style-type: circle; */
  list-style-type: none;
  list-style-position: outside;
  margin: 0 0 0 1em;

}

ul.help li {
  margin: 1em 0 0 1em;
}

ul.help li:before {
  font-family: 'fontello';
  margin: 0 .5em 0 0;
  color: var(--color-ui-sen);
  font-size: 1.5em;
}

ul.help li.rss:before {
  content: '\f143';
  color: var(--color-ui-sen);
}

ul.help li.www:before {
  content: '\e802';
  color: var(--color-ui-pri);
}

ul.help li.search:before {
  content: '\e812';
  color: var(--color-ui-success);
}

ul.help li.export:before {
  content: '\f02e';
  color: var(--color-ui-sen);
}

ul.help li.cloud:before {
  content: '\e803';
  color: var(--color-ui-success);
}

label#killFeed:active {
  background: var(--color-ui-danger) !important;
}

.flex-box {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width:-moz-available;
}

.flex-box > label {
  flex: 1;
}

nav#side-menu .flex-box > * {
  margin-bottom: .4em;
}

nav#side-menu #gallerySlideTransition {
  margin-top: 2px;
}

.shrink {
  flex: 0 1 4em !important;
}

.unique {
  flex: 1 100%;
  margin-right: 0 !important;
}

.twin {
  flex: 1;
}

span.ui-spinner,
.last {
  margin-right: 0;
}

label:last-child {
  margin-bottom: 0 !important;
}

.bottom {
  margin-bottom: 0;
}

div.testFlex {
  display:flex;
}

#spinner {
  width: 2rem;
}

.noBottom {
  margin-bottom:0;
}

#tabs {
  white-space: nowrap;
  overflow: hidden;
}

#tabs > ul {
  overflow: auto;
  overflow-y: hidden;
}

#tabs > ul > li {
  display: inline-block;
  float: none;
  vertical-align: bottom;
}

.column {
  white-space: initial;
  transition: all .3s linear;
  margin: 0 .2em;
}

/* .column:first-child { margin-left: 0 !important; } */
/* .column:last-child { margin-right: 0 !important; } */

.new-feed-button {
  margin-bottom: 0 !important;;
}

.ui-dialog.ui-corner-all {
  border-radius: 0px !important;
}

img.warning {
  vertical-align:middle;
  width:10em;
}

i.huge {
  font-size: 8em;
}

p.dialog-warning {
  font-size:26pt;
}

div.dialog-question {
  display:flex;
  flex-direction: var(--dialog-flex-direction);
}

div.dialog-question > div {
  flex: 1 1 auto;
}

div.dialog-question > div.icon {
  text-align: center;
  flex: 0 0 200px;
}

/* Tab */

.tab  {
  border: none !important;
  margin:0 !important;
}

li.tab-name,
#new-group {
  margin: 0 0 0 0 !important;
  border: 0 !important;
  border-radius: 0 !important;
}

/* Panel */

.panel {
  padding: .2em !important;
  /* flex-flow: row nowrap; */
  flex-flow: var(--panel-flex)  ;
  /* align-items: center; */
  justify-content: space-between;
}

/* Column */

ul.column {
  /* min-height: 120px; */
  margin: .2em;
  flex: 1 1 0;
  /* flex: 1 0 auto; */
  /* flex: var(--column-flex); */
  align-content: center;
  position:relative;
  padding: var(--column-padding);
}

ul.column div.buttons {
  display: var(--column-buttons-display);
  border-radius: 3px;
  border: 3px dashed var(--color-ui-sep);
  color: var(--color-ui-sep);
  left: 0;
  margin-left: auto;
  margin-right: auto;
  padding: .4em;
  position:absolute;
  right: 0;
  text-align: center;
  bottom: 15px;
  width: 150px;
  z-index: 1 !important;
}

ul.column div.buttons > button {
  margin-bottom: .2em;
}

/* Feed */

li.feed {
  position:relative;
  background: var(--color-qua);
  /* z-index: 2; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 600 !important;
  margin: 0 0 .4em 0;
}

.selected,
li.feed {
  min-height:20px !important;
  width: 100%;
}

.selected {
  background: none !important;
}

.feed-body {
  margin: 0;
}

.selected .feed-body {
  opacity: 0.8;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
}

.feed-header {
  display: flex;
  flex-direction:row;
  height: var(--header-height);
  max-height: var(--header-height);
  padding:0;
}

.open {
  transform: rotate(180deg);
}

.column .ui-sortable-placeholder {
  visibility: visible !important;
  outline: 3px dashed var(--color-qui);
}

.feed-header > .feed-title {
  color: var(--color-ter);
  flex-basis: auto;
  flex-grow: 4;
  flex-shrink: 1;
  font-family: BebasNeueRegular, Helvetica, Arial, sans-serif;
  font-size: var(--controls-font-size);
  font-style: italic;
  font-weight: normal;
  margin-left: var(--title-margin-left);
}

.feed-header > .feed-handle {
  background-color: transparent;
  border-left: 3px dotted var(--color-oct);
  border-right: 3px dotted var(--color-oct);
  flex-basis: 4px;
  flex-grow: 0;
  flex-shrink: var(--handle-flex-shrink);
  visibility: var(--handle-visibility);
}

.feed-header > .feed-controls {
  display: flex;
  flex-basis: 0px;
  flex-grow: 0;
  flex-shrink: 0;
}

.feed-header .feed-controls div {
  margin: 0 2px 0 0;
}

.feed-header > .feed-toggle,
.feed-header .feed-controls div {
  text-align: center;
}

.feed-header .feed-controls div.collapsible {
  display:none;
}

.feed-control {
  cursor: pointer;
  font-size: var(--controls-font-size);
  margin: 0 0 0 2px;
}

.feed-header > .feed-toggle {
  margin: 2px;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 1;

  background-repeat: no-repeat;
  /* background-size: var(--controls-toggle-size) var(--controls-toggle-size); */
  background-size: cover;
  /* height: var(--controls-toggle-size); */
  /* width: var(--controls-toggle-size); */
  /* height: var(--controls-toggle-size); */
  min-width: var(--controls-toggle-size) !important;
}

.feed-header > .feed-toggle i {
  margin: var(--controls-toggle-margin);
}

.help-rss {
  color: var(--color-ui-pri) !important;
}

.icon-rzz {
  color: var(--color-ui-rss) !important;
}

.icon-rzz {
  color: var(--color-ui-rss) !important;
}

li.feed-item {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  color: var(--color-pri);
  font-size: 10pt;
  hyphens: auto;
  overflow-wrap: break-word;
  padding: .2rem;
  word-break: break-word;
  word-wrap: break-word;
}

li.feed-item > div.itemDiv > a > img {
  float:left;
  margin: 0 .2rem .2rem 0;
  max-width:30%;
}

li.feed-item > div.itemDiv > a > img.full {
  min-width:100%;
}

table tr,
li.feed-item {
  background-color: var(--color-sep);
}

table tr:nth-child(even),
li.feed-item:nth-child(even) {
  background-color: var(--color-non);
}

table tr:nth-child(even),
li.feed-item:nth-child(even) {
  background-color: var(--color-non);
}

li.feed-item:hover {
  background-color: var(--color-sen);
  color: var(--color-sep);
}

a.feed-link:hover {
  color: var(--color-sec) !important;
}

li.feed div.feed-body {
  border-right: 1px solid var(--color-non);
  border-bottom: 1px solid var(--color-non);
  border-left: 1px solid var(--color-non);
}

li.feed:hover div.feed-body {
  border-color: var(--color-den);
}

li.feed-item > div.itemDiv > a > img:hover {
  outline: 1px solid var(--color-sec);
}

li.feed {
  padding: 0;
}

.feed-header > .feed-handle:hover {
  border-color: var(--color-sec);
}

@media (hover: none) {

  a:active,
  a:hover {
    color: var(--color-pri) !important;
  }

  li.feed-item:hover {
    background-color: none !important;
  }

  li.feed a:active,
  li.feed a:hover,
  .feed-control:hover,
  .item-icon:hover {
    color: none !important;
  }

}

.introjs-tooltip a:hover,
.introjs-tooltip a i:hover,
.introjs-tooltip a i:active {
  color: var(--color-ui-sec) !important;
}

span.introjs-helperNumberLayer {
  /* background: linear-gradient(to bottom,#ff3019 0,#cf0404 100%); */
  background: var(--color-ui-sec);
}

div.introjs-helperLayer {
  background-color: rgba(255,255,255,.2);
}

.feed-header {
  background-color: var(--color-sen);
  color: var(--color-pri);
  transition: all .3s linear;
}

.fancybox-thumbs {
  background-color: var(--color-non) !important;
}

/* IntroJS (help tooltips) */
.introjs-tooltip {
  background-color: var(--color-ui-qua) !important;
  color: var(--color-pri);
}

.introjs-bullets ul li a.active,
.introjs-bullets ul li a:hover {
  background: var(--color-ui-sec) !important;
}

.introjs-tooltip a:visited {
  color: var(--color-qui);
}

/* Gallery */
.fancybox-thumbs > ul > li::before {
  border: 4px solid var(--color-sec) !important;
}

#remotestorage-widget > .rs-widget {
  margin: 0 0 .4em 0;
  padding-left: 0;
  border-radius: 3px;
  background-color: #ededed;
}

/* MenuBar */
.topnav {
  position:relative;
  z-index: 20;
  background-color: var(--color-ui-qua);
  /* color: var(--color-ui-sec); */
  overflow: hidden;
  height: 45px;
}

.topnav > div.menuBarItem {
  color: var(--color-ui-pri);
  cursor: pointer;
  float: left;
  margin: 0;
  min-width: 60px;
  padding: 16px 6px;
  position: relative;
  text-align: center;
}

.topnav > div.menuBarItem > .text {
  position: relative;
  z-index: 10;
}

.topnav > div.menuBarItem > i {
  color: var(--color-ui-qua);
  font-size: 32pt;
  left: 21px;
  position: absolute;
  top: 0;
  z-index: 5;
}

div#logo-title > .logo-title > a:link,
div#logo-title > .logo-title > a:visited,
.topnav i,
#backtop,
#backtop i {
  transition: all .3s linear;
}

.topnav > div.menuBarItem:hover .text {
  /* display: none; */
  visibility: hidden;
}

.topnav > div.menuBarItem:hover {
  background-color: var(--color-ui-qua);
}

.topnav > div.menuBarItem:hover i {
  color: var(--color-ui-sec);
}

div#logo-title {
  display:flex;
  float: right;
}

.icon-petrolette {
  color: var(--color-ui-sec);
}

.logoType i.icon-petrolette {
  display:block;
  cursor: pointer;
  font-size:24pt;
  margin: 6px 12px 6px 6px;
  color: var(--color-ui-sec);
}

i.icon-petrolette:hover,
i.icon-petrolette.writing {
  color: var(--color-ui-pri);
}

i.icon-petrolette:before {
  font-style:italic !important;
}

i.icon-petrolette:hover {
  font-style:normal !important;
}

div#logo-title > div {
  flex: 1 0 ;
}

div#logo-title > .logo-title {
  color: var(--color-ui-pri);
  display:var(--logo-display);
  font-family: LobsterRegular, Helvetica, Arial, sans-serif;
  font-size: 36pt;
  margin: -6px 0 0 0;
}

div#logo-title > .logo-title > a:link,
div#logo-title > .logo-title > a:visited {
  color: var(--color-ui-pri);
}

div#logo-title > .logo-title > a:hover {
  color: var(--color-ui-sec) !important;
}

#beta-badge {
  background: var(--color-ui-danger);
  border-radius: 10%;
  color: var(--color-ui-pri);
  display:var(--logo-display);
  font-size:9pt;
  opacity: .8;
  padding: 2px;
  position:absolute;
  right: 60px;
  top: 22px;
}

#backtop {
  z-index: 2;
  background: var(--color-ui-qua);
  border-radius: 35px;
  bottom: 20px;
  cursor: pointer;
  display: block;
  display: none;
  height: 50px;
  opacity: .5;
  position: fixed;
  right: 20px;
  text-decoration: none;
  width: 50px;
}

#backtop i {
  color: var(--color-ui-pri);
  font-size: 19px;
  left: 18px;
  margin: 0;
  position: relative;
  top: 13px;
}

#backtop:hover {
  opacity: 1;
}

#backtop:hover i {
  color: var(--color-ui-sec);
  top: 5px;
}

/* Javascript */

#js {
  background-color: var(--color-ui-qua);
}

#js h1 {
  padding-top: 2em;
}

#js h1,
#js p {
  margin-left: 40px;
}

table {
  border-collapse: collapse;
  width: 90vw;
  margin: auto;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
