/* Bootstrapping */
ul {
  list-style-type: none;
  margin:0;
  padding:0;
}

/* TABS */

li.mobTab,
#newTabButton {
  margin: 0 0 0 0 !important;
  border: 0 !important;
  border-radius: 0 !important;
  box-shadow: inset 4px 0px 6px -4px rgba(0,0,0,0.19) !important;
}

.tabCloser {
  display: none;
}
/* FEEDS */

.ui-tabs-panel {
  padding:0 !important;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.spin {
  animation: spin-animation .5s infinite;
  display: inline-block;
}

#waitScreen > .spin {
  animation: spin-animation .5s infinite;
  font-size: 400%;
}

.rotate {
  display:inline-block;
  cursor:pointer;
  transition: all .2s linear;
}

.rotate.down {
  transform: rotate(-90deg);
}

.rotate.right {
  transform: rotate(180deg);
}

.rotate.close {
  transform: rotate(-180deg);
}

/* Fontello */
i[class^="icon-"]:before, i[class*=" icon-"]:before {
  margin: 0;
}

.tab  {
  border: none !important;
  margin:0 !important;
}

/* Feed */
ul.tabSort {
  padding: 0 .2em .2em;

  /* padding: 0; */

  /* columns: auto 3; */

  columns: var(--columns);

  column-gap: .4em;
  /* min-height:30px; */

  transition: all .5s ease-in-out;

}

li.feed {
  font-family: -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  font-weight: 600 !important;
  vertical-align:top;
  margin: .4em 0 0 0;
  display: inline-block;

  page-break-inside: avoid;
  break-inside: avoid;

  transition: all .2s linear;

  /* max-width: 33%; */

  /* break-inside: avoid-column; */
  /* padding: 5px; */
}

.ui-tabs-anchor {
  cursor: pointer !important;
}

.selected,
li.feed {
  width: 100%;
  min-height:20px !important;
}

.feedBody {
  margin: 0;
}

.selected {
  opacity: 0.5;
}

/* Item */

li.feedItem {
  font-size: 10pt  !important;
}

li.feedItem a {
  text-decoration: none;
}

li.feedItem a:hover {
  /* text-decoration: underline; */
}

li.feedItem:not(.error) a {
  display: block;
  width:100%;
}

li.feedItem {
  padding: .2rem;
}

div.feedItem img {
  max-width:30%;
  float:left;
  margin: 0 .2rem .2rem 0; /* Some gutter */
}

div.feedItem img.full {
  min-width:100%;
}

li.feedItem {
  border:0 !important;
}

/* Theme Overrides */
.ui-widget-content,
.ui-widget-header {
  border: none !important;
}

#loadRadial {
  position:fixed;
  right:3vw;
  bottom:5vh;
  opacity:0.8 ;
}
