:root {
  --ui-color-pri: #f4f4f4;
  --ui-color-sec: #19B5FE;
  --ui-color-ter: #C0B283;
  --ui-color-qua: #22313F;
  --ui-color-qui: #808080;
  --ui-color-sen: #f26522;
  --ui-color-sep: #ccc;

  --var-header-height: 26px;
  --var-controls-width: 150px;
  --var-controls-font-size: 16pt;
  --var-controls-toggle-size: 18px;
  --var-controls-flex-basis: 100px;
  --dialog-flex-direction: row;

  --handle-flex-shrink: 0;
  --handle-visibility: visible;

  --title-margin-left: 4px;

  --ui-color-danger: #C63D0F;
  --ui-color-success: #4db53c;

  --columns: auto 3;

  --logo-display: inline;

}

@media screen and (max-width: 700px) {
  :root {
    --var-header-height: 42px;
    --var-controls-width: 75%;
    --var-controls-font-size: 29pt;
    --var-controls-toggle-size: 36px;

    --var-controls-flex-basis: 60px;
    --dialog-flex-direction: column;

    --handle-flex-shrink: 1;
    --handle-visibility: collapse;

    --title-margin-left: 0;

    --columns: auto;
    --logo-display: none;

  }
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

@font-face {
  font-family: LobsterRegular;
  font-style: normal;
  font-weight: normal;
  src: url('/static/font/Lobster.otf') format("opentype");
  src: url('/static/font/Lobster.ttf') format('truetype');
}

@font-face {
  font-family: BebasNeueRegular;
  font-style: normal;
  font-weight: normal;
  src: url('/static/font/BebasNeue.otf') format("opentype");
}

#preloadHiddenDiv {
  height:0px;
  overflow:hidden;
  width:0px;
}

#preloadHiddenDiv > .logoTitle {
  font-family: LobsterRegular;
}

#preloadHiddenDiv > .feedTitle {
  font-family: BebasNeueRegular;
}

#preloadHiddenDiv > .fontello {
  font-family: fontello;
}

body {
  background-color: var(--bg-color-ter);
  font-family: Arial,Helvetica,sans-serif;
  margin:0;
}

html,
body {
  color: var(--color-pri);
}

h1,
h2,
h3,
h4 {
  color: var(--ui-color-sec);
  margin-bottom: .3em;
  margin-top: .6em
}

h1 {
  margin-top: 0
}

div.dialog {
  line-height: 1.5em;
  /* color: red; */
}

.ui-widget-content:not(input) {
  color: var(--ui-color-pri) !important;
}

.ui-widget-content input {
  color: #454545 !important;
}

ul {
  list-style-type: none;
  margin:0;
  padding:0;
}

a:link {
  color: var(--color-pri) !important;
}

a:visited {
  color: var(--color-qui) !important;
}

a:active,
a:hover {
  color: var(--ui-color-sec) !important;
}

.rs-button:hover {
  border-color: var(--ui-color-sec) !important;
}

.rs-button.rs-sync:hover svg {
  fill: var(--ui-color-sec) !important;
}

.rs-button.rs-disconnect:hover svg {
  fill: var(--ui-color-danger) !important;
}

.spin {
  animation: spin-animation .5s infinite;
  display: inline-block;
}

#waitScreen > .spin {
  font-size: 400%;
}

.rotate {
  display:inline-block;
  cursor:pointer;
  transition: all .2s linear;
}

.rotate.down {
  transform: rotate(-90deg);
}

.rotate.right {
  transform: rotate(180deg);
}

.rotate.close {
  transform: rotate(-180deg);
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  display:initial;
  margin:0;
}

#gallerySpeedSlider,
#feedLimit {
  margin-right: 0;
}

.visible {
  display:initial !important;
}

input {
  margin:0;
  padding: .4em;
}

input#feedGuess {
  margin-right: .4em;
}

.deadCenter {
  height: 300px;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
  position: absolute;
  text-align:center;
  top: 50%;
  width: 300px;
}

.hidden {
  display:none !important;
}

#noSourcesButton > div {
  color: var(--color-pri) !important;
  font-size: 12pt;
}

#noSourcesButton > div > i {
  line-height: 0;
  color: #8d94a5 !important;
  font-size: 8em;
}

#noSourcesButton > div > div {
  margin: 2em 0 0 0;
  color: var(--color-pri) !important;
  font-size: 12pt;
}

li.ui-tabs-active,
li.mobTab:first-child {
  box-shadow: none !important;
}

#tabUl,
#tabs {
  background: none;
  border-radius: 0;
}

li.mobTab {
  background-color: var(--bg-color-sec) !important;
}

p.dialog > a:link {
  color: var(--color-pri) !important;
}

p.dialog > a:visited {
  color: var(--color-pri) !important;
}

select {
  width:100%;
  height: 30px;
}

fieldset > p {
  margin: 0  0 .2em 0;
}

fieldset,
legend {
  background: none !important;
  color: var(--ui-color-pri);
}

legend {
  font-size: 9pt;
}

#menu {
  border: none !important;
  height: 100%;
  left: -291px;
  padding: 45px 0 0 0;
  position: fixed;
  top: 0;
  transition: all 150ms ease-out;
  width: 275px;
  z-index:11;
}

#progressBar {
  color: var(--ui-color-sec) !important;
}

.ui-progressbar {
  position: relative;
}

.progress-label {
  position: absolute;
  left: .4em;
  top: 7px;
  color: #2b2b2b;
}

.ui-progressbar .ui-progressbar-value {
  background: var(--ui-color-sec) !important;
  border: 1px solid var(--ui-color-sec) !important;
  margin: none !important;
}

.baseline {
  color: #2f220a;
  font-family: "Times New Roman",Bodoni,Garamond,"Minion Web","ITC Stone Serif","MS Georgia", serif;
  font-size: 10.5pt;
  left: 3px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.baseline > span {
  text-shadow: #FC0 1px 0 10px;
}

#menu.expanded {
  left: 0px;
}

#menu,
#topnav,
.ui-dialog,
.ui-dialog .ui-dialog-buttonpane {
  background: var(--ui-color-qua);
  border-color: var(--ui-color-qua) !important;
}



.ui-dialog .ui-dialog-buttonpane {
  margin: 0 !important;
}

.ui-tabs-anchor {
  cursor: pointer !important;
}

i.tabCloser {
  cursor:pointer;
  display: none;
  font-size: .7em;
  position:absolute;
  right: 3px;
  top: 3px;
}

#menu {
  animation: fadeIn ease 6s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

button#feedGuess,
.ui-spinner {
  margin: 0;
}

fieldset.menuForm {
  display: -webkit-flex;
  height: 100%;
  justify-content: space-between;
}

fieldset {
  margin: 0 0 .5em 0;
  padding-bottom: .4em;
  padding-left: .4em;
  padding-right: .4em;
  width: -moz-available;
}

.flexBox {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width:-moz-available;
}

.ui-widget-header {
  background: none;
  color: var(--ui-color-sec);
  font-weight: bold;
}

.ui-widget-content,
.ui-widget-header {
  border: none !important;
}

.ui-button.ui-state-active,
.ui-slider-handle,
.ui-state-default,
.ui-button {
  border: 3px solid var(--ui-color-sep);
}

.ui-button.ui-state-active {
  border: 3px solid var(--ui-color-sec);
  background-color: var(--ui-color-sec);
}

.ui-state-hover,
.ui-widget-content .ui-state-focus,
.ui-slider-handle:focus,
.ui-slider-handle:hover,
.ui-button:hover,
.ui-button:focus,
#feedGroup:focus {
  /* color: var(--ui-color-qua) !important; */
  border: 3px solid var(--ui-color-sec);
}

.ui-slider-horizontal .ui-slider-handle {
  top: -.4em;
}

.ui-button-icon-only {
  /* color: var(--ui-color-qua) !important; */
  border: 1px solid var(--ui-color-sep);
}

.ui-button-icon-only:hover {
  /* color: var(--ui-color-qua) !important; */
  border: 1px solid var(--ui-color-sec);
}

.ui-slider-handle {
  border: 3px solid var(--ui-color-sep) !important;
}

/* .ui-state-active, */
.ui-state-active:not(li),
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover,
.null {
  border: 3px solid var(--ui-color-sec);
  background-color: var(--ui-color-sec);
}

.ui-button.ui-state-active:hover,
.ui-button.ui-state-active:focus,
.null {
  border: 3px solid var(--ui-color-sep);
}

.ui-button.ui-state-active.dangerous:active,
.ui-button.ui-state-active.dangerous:hover,
.ui-button.ui-state-active.dangerous:focus,
.null {
  border: 3px solid var(--ui-color-sen);
}

.ui-button.ui-state-active.dangerous,
.ui-button.dangerous:focus,
.ui-button.dangerous:hover,
.ui-button.dangerous:active,
label.ui-button.dangerous:hover,
.plop {
  background-color: var(--ui-color-danger) !important;
  color: var(--ui-color-pri) !important;
  /* border: 3px solid var(--ui-color-danger) !important; */
}

.ui-slider-handle:focus,
/* .ui-widget-content .ui-state-focus.dangerous, */
.ui-slider-handle:hover {
  border: 3px solid var(--ui-color-sec) !important;
}

button.ui-state-success {
  background-color: var(--ui-color-success) !important;
}

button.ui-state-error {
  background-color: var(--ui-color-danger) !important;
}

button.helpIntroUI {
  background-color: var(--ui-color-success);
  border-color: var(--ui-color-success);
  color: var(--ui-color-pri);
  padding: .4em;
}

button.helpIntroUI:focus,
button.helpIntroUI:hover {
  color: var(--ui-color-pri);
  background-color: var(--ui-color-success);
}

.ui-dialog-titlebar-help {
  right: 30px !important;
  background-color: var(--ui-color-success);
  color: var(--ui-color-pri) !important;
}

.ui-visual-focus {
  box-shadow: none;
}

ul.help {
  /* list-style-type: circle; */
  list-style-type: none;
  list-style-position: outside;
  margin: 0 0 0 1em;

}

ul.help li {
  margin: 1em 0 0 1em;
}

ul.help li:before {
  font-family: 'fontello';
  margin: 0 .5em 0 0;
  color: var(--ui-color-sen);
  font-size: 1.5em;
}

ul.help li.rss:before {
  content: '\f143';
  color: var(--ui-color-sen);
}

ul.help li.www:before {
  content: '\e802';
  color: var(--ui-color-pri);
}

ul.help li.search:before {
  content: '\e812';
  color: var(--ui-color-success);
}

ul.help li.export:before {
  content: '\f02e';
  color: var(--ui-color-sen);
}

ul.help li.cloud:before {
  content: '\e803';
  color: var(--ui-color-success);
}

label#killFeed:active {
  background: var(--ui-color-danger) !important;
}

.flexBox > label {
  flex: 1;
}

#menu .flexBox > * {
  margin-bottom: .4em;
}

.shrink {
  flex: 0 1 4em !important;
}

.unique {
  flex: 1 100%;
  margin-right: 0 !important;
}

.twin {
  flex: 1;
}

.grow {
  flex: 1 0 auto !important;
  margin-right: .4em;
}

.last {
  margin-right: 0;
}

span.ui-spinner,
.last {
  margin-right: 0;
}

label:last-child {
  margin-bottom: 0 !important;
}

.bottom {
  margin-bottom: 0;
}

div.testFlex {
  display:flex;
}

#spinner {
  width: 2rem;
}

.ui-slider {
  height: 32px;
  margin-right: .4em;
}

.ui-slider-handle {
  height: 38px !important;
  min-width: 38px;
  line-height: 38px;
  text-align: center !important;
}

.noBottom {
  margin-bottom:0;
}

/* Wait screen */

#waitScreen{
  background-color: #7C818C;
}

#waitScreen > .wspinner {
  width: 200px;
  height: 200px;
  margin: 30% auto;
  background-color: #7395AE;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

#tabs {
  white-space: nowrap;
  overflow: hidden;
}

#tabs > ul {
  overflow: auto;
  overflow-y: hidden;
}

#tabs > ul > li {
  display: inline-block;
  float: none;
  vertical-align: bottom;
}

.tabSort {
  white-space: initial;
}

.ui-dialog.ui-corner-all {
  border-radius: 0px !important;
}

img.warning {
  vertical-align:middle;
  width:10em;
}

i.huge {
  font-size: 10em;
}

p.dialog-warning {
  font-size:26pt;
}

div.dialogWithIcon {
  display:flex;
  flex-direction: var(--dialog-flex-direction);
}

div.dialogWithIcon > div {
  flex: 1 1 auto;
}

div.dialogWithIcon > div.icon {
  text-align: center;
  flex: 0 0 200px;
}

/* Tab */

.tab  {
  border: none !important;
  margin:0 !important;
}

li.mobTab,
#newTabButton {
  margin: 0 0 0 0 !important;
  border: 0 !important;
  border-radius: 0 !important;
  box-shadow: inset 4px 0px 6px -4px rgba(0,0,0,0.19) !important;
}

/* Tab pane */

.ui-tabs-panel {
  padding:0 !important;
}

ul.tabSort {
  column-gap: .4em;
  columns: var(--columns);
  padding: 0 .2em .2em;
  transition: all .5s ease-in-out;
}

/* Feed */

li.feed {
  font-family: -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  font-weight: 600 !important;
  vertical-align:top;
  margin: .4em 0 0 0;
  display: inline-block;

  page-break-inside: avoid;
  break-inside: avoid;

  transition: all .2s linear;
}

.selected,
li.feed {
  width: 100%;
  min-height:20px !important;
}

.feedBody {
  margin: 0;
}

.selected {
  opacity: 0.5;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mobHeader {
  /* min-height:20px; */
  height: var(--var-header-height);

  max-height: var(--var-header-height);
  display: flex;
  flex-direction:row;
  /* align-content: stretch; */
  padding:0;
}

.flexGrow {
  flex-grow: 0 !important;
  flex-shrink: 0 !important;
  flex-basis: var(--var-controls-flex-basis) !important;
}

.open {
  transform: rotate(180deg);
}


.mobHeader > div {
  transition: all 700ms;
}

.mobHeader > .feedToggle {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;

  margin: .2rem;
  width : var(--var-controls-toggle-size);
}

.feedIcon {
  width: var(--var-controls-toggle-size);
  height: var(--var-controls-toggle-size);
  background-size: var(--var-controls-toggle-size);
  background-image: url("/static/images/feed-generic-rss.png");
  background-repeat: no-repeat;
}

.tabSort .ui-sortable-placeholder {
  visibility: visible !important;
  border: 3px dashed var(--ui-color-pri) !important;
}

.feedToggle > .ui-icon {
  margin: .1rem .2rem 0 .1rem;
}

.mobHeader > .feedTitle {
  color: var(--color-ter);
  flex-basis: auto;
  flex-grow: 4;
  flex-shrink: 1;
  font-family: BebasNeueRegular, Helvetica, Arial, sans-serif !important;
  margin-left: var(--title-margin-left);
  font-size: var(--var-controls-font-size);
  font-style: italic;
  font-weight: normal;
}

.mobHeader > .feedTitle > a:link {
  color: var(--color-ter);
  text-decoration: none;
}

.mobHeader > .feedTitle > a:visited {
  color: var(--color-ter) !important;
}

.mobHeader > .feedTitle > a:hover {
  color: var(--ui-color-sec) !important;
}

.ui-tabs-active a {
  color: var(--color-qua) !important;
}

.mobHeader > .feedHandle {
  background-color: transparent;
  border-left: 3px dotted var(--bg-color-ter);
  border-right: 3px dotted var(--bg-color-ter);
  cursor:move;
  flex-basis: 4px;
  flex-grow: 0;
  flex-shrink: var(--handle-flex-shrink);
  visibility: var(--handle-visibility);
}

.mobHeader > .feedHandle > div {
}

.mobHeader > .myControlsToggleDiv {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.mobHeader > .feedControls {
  display: flex;
  flex-basis: 0px;
  flex-grow: 0;
  flex-shrink: 0;
}

.mobHeader .feedControls div {
  margin: 0 2px 0 0;
}

.mobHeader .feedControls div.collapsible {
  display:none;
}

.feedControl {
  cursor:pointer;
  font-size: var(--var-controls-font-size);
  margin: 0 0 0 2px;
}

i.feedControl:hover {
  color: var(--ui-color-sec);
}

#newTabButton {
  background-color: var(--color-qua);
  text-align: center;
  width: 40px;
}

#newTabButton a {
  background-color: var(--color-qua);
  color: var(--ui-color-pri);
  font-size: 21.2pt;
  margin: 0;
  padding: 0;
  width: 100%;
}

i.tabCloser,
li.ui-tabs-tab a:link,
li.ui-tabs-tab a:visited {
  color: var(--color-pri) !important;
}

li.ui-tabs-active,
li.ui-state-hover:not(.ui-tabs-active),
div.ui-tabs-panel {
  background-color: var(--bg-color-ter) !important;
}

li.ui-tabs-tab a.ui-tabs-anchor:hover,
li.ui-tabs-active a.ui-tabs-anchor:link {
  color: var(--ui-color-sec) !important;
}

li.feedItem {
  background-color: var(--bg-color-sec) !important;
  font-size: 10pt  !important;
  padding: .2rem;
}

li.feedItem a {
  text-decoration: none;
}

li.feedItem:not(.error) a {
  display: block;
  width:100%;
}

div.feedItem img {
  max-width:30%;
  float:left;
  margin: 0 .2rem .2rem 0; /* Some gutter */
}

div.feedItem img.full {
  min-width:100%;
}

li.feedItem:nth-child(even) {
  background-color: var(--bg-color-qua) !important;
}

li.feedItem img:hover {
  outline: 1px solid var(--ui-color-sec) !important;
}

li.feedItem:hover {
  background-color: var(--bg-color-pri) !important;
}

li.feed {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4), -2px -2px 3px 0 rgba(0, 0, 0, 0.7) inset;
  padding: 0;
  transition: all .1s ease;
}

.feedToggleArrow {
  background-image: var(--icon-feed-toggle-arrow) !important;;
}

.mobHeader > .feedHandle:hover {
  border-color: var(--ui-color-sec);
}

.danger {
  color: var(--ui-color-danger) !important;
}

.danger:link,
.danger:visited {
  color: var(--ui-color-danger) !important;
}

i.dangerous:hover {
  color: var(--ui-color-danger) !important;
}

@media (hover: none) {

  a:active,
  a:hover {
    color: var(--color-link) !important;
  }

  li.feedItem:hover {
    background-color: none !important;
  }

  li.feed a:active,
  li.feed a:hover,
  .feedControl:hover,
  .media:hover {
    color: none !important;
  }

}

.introjs-tooltip a:hover,
.introjs-tooltip a i:hover,
.introjs-tooltip a i:active {
  color: var(--ui-color-sec) !important;
}

span.introjs-helperNumberLayer {
  /* background: linear-gradient(to bottom,#ff3019 0,#cf0404 100%); */
  background: var(--ui-color-sec);
}

div.introjs-helperLayer {
  background-color: rgba(255,255,255,.2);
}

.mobHeader {
  background-color: var(--bg-color-pri);
  color: var(--color-pri);
}

.fancybox-thumbs {
  background-color: var(--bg-color-qua) !important;
}

/* IntroJS (help tooltips) */
.introjs-tooltip {
  background-color: var(--ui-color-qua) !important;
  color: var(--color-pri);
}

.introjs-bullets ul li a.active,
.introjs-bullets ul li a:hover {
  background: var(--ui-color-sec) !important;
}

.ui-widget-content a:visited,
.introjs-tooltip a:visited {
  color: var(--color-qui);
}

/* Gallery */
.fancybox-thumbs > ul > li::before {
  border: 4px solid var(--ui-color-sec) !important;
}

#remotestorage-widget > .rs-widget {
  margin: 0 0 .4em 0;
  padding-left: 0;
  border-radius: 3px;
  background-color: #ededed;
}

#overlay {
  display:none;
  position: fixed;
  top: 0;
  left: 275px;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.2); /*dim the background*/
}

/* MenuBar */
.topnav {
  position:relative;
  z-index: 20;
  background-color: var(--ui-color-qua);
  color: var(--ui-color-sec);
  overflow: hidden;
  height: 45px;
}

.topnav > div.menuBarItem {
  color: var(--ui-color-pri);
  cursor:pointer;
  float: left;
  margin: 0;
  min-width: 60px;
  padding: 16px 6px;
  position: relative;
  text-align: center;
}

.topnav > div.menuBarItem > .text {
  position: relative;
  z-index: 10;
}

.topnav > div.menuBarItem > i {
  color: var(--ui-color-qua);
  font-size: 32pt;
  left: 21px;
  position: absolute;
  top: 0;
  z-index: 5;
  transition: all 0.3s linear;
}

.topnav > div.menuBarItem:hover .text {
  /* display: none; */
  visibility: hidden;
}

.topnav > div.menuBarItem:hover {
  background-color: var(--ui-color-sec);
}

.topnav > div.menuBarItem:hover i {
  color: var(--ui-color-pri) !important;
}

.topnav > div#logoTitle {
  display:flex;
  float: right;
}

.topnav i.icon-petrolette {
  display:block;
  font-size:24pt;
  margin: 6px 12px 6px 6px !important;
  color: var(--ui-color-sec);
}

.topnav i.icon-petrolette:before {
  font-style:italic !important;
}

.topnav i.icon-petrolette:hover {
  font-style:normal !important;
}

.topnav > div#logoTitle > div {
  flex: 1 0 ;
}

.topnav > div#logoTitle > .logoTitle {
  color: var(--ui-color-pri);
  display:var(--logo-display);
  font-family: LobsterRegular, Helvetica, Arial, sans-serif;
  font-size: 36pt;
  margin: -6px 0 0 0 !important;
}

.topnav > div#logoTitle > .logoTitle > a:link,
.topnav > div#logoTitle > .logoTitle > a:visited {
  color: var(--ui-color-pri) !important;
  transition: all 0.3s linear;
}

.topnav > div#logoTitle > .logoTitle > a:hover {
  color: var(--ui-color-sec) !important;
}

#betaBadge {
  background: var(--ui-color-danger);
  border-radius: 10%;
  color: var(--ui-color-pri);
  display:var(--logo-display);
  font-size:9pt;
  opacity: .8;
  padding: 2px;
  position:absolute;
  right: 60px;
  top: 22px;
}

#scrollToTop {
  background: var(--ui-color-qua);
  border-radius: 35px;
  bottom: 20px;
  cursor: pointer;
  display: block;
  display: none;
  height: 50px;
  opacity: .5;
  position: fixed;
  right: 20px;
  text-decoration: none;
  transition: all 0.3s ease;
  width: 50px;
}

#scrollToTop i {
  color: var(--ui-color-pri);
  font-size: 19px;
  left: 18px;
  margin: 0;
  position: relative;
  top: 13px;
  transition: all 0.3s ease;
}

#scrollToTop:hover {
  opacity: 1;
}

#scrollToTop:hover i {
  color: var(--ui-color-sec);
  top: 5px;
}
