<div id="killDialog" class="mobDialog">
    <p>
        <i class="mobylette logoItem icon-motorcycle" aria-hidden="true"></i>
    </p>
</div>

<div id="renameTabDialog" title="Rename tab">
    <form>
        <fieldset>
            <legend>Tab Name</legend>
            <label for="tabName" class="ui-helper-hidden">Name</label>
            <input
                type="text"
                name="name"
                id="tabName"
                value=""
                class="text ui-widget-content ui-corner-all" />
        </fieldset>
    </form>
</div>

<div id="feedPrefs" title="Feed parameters">
    <form>

        <fieldset>
            <legend class="ui-corner-top">URL</legend>
            <div class="feedUrl">
                <input type="text" name="url" id="feedUrl" autofocus placeholder="Feed URL (https://reddit.com/.rss)" value="" class="text ui-widget-content ui-corner-all" onclick="select()" />
            </div>
        </fieldset>

        <fieldset>
            <legend class="ui-corner-top">Display Type</legend>
            <div class="feedType controlGroup ui-corner-all">
                <label for="mixed">Mixed</label>
                <input type="radio" name="radio-1" id="mixed">
                <label for="photo">Photo</label>
                <input type="radio" name="radio-1" id="photo">
                <label for="text">Text</label>
                <input type="radio" name="radio-1" id="text">
            </div>
        </fieldset>

        <fieldset>
            <legend class="ui-corner-top" class="ui-corner-top">Limit # of items</legend>
            <div class="feedLimit">
                <label for="feedLimitSlider" class="ui-helper-hidden">
                    <input type="text" id="feedLimitSlider" />
                </label>

                <div id="feedLimitSlider"></div>
            </div>
        </fieldset>

    </form>
</div>
