<div id="killDialog" title="" class="mobDOM">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span></p>
</div>

<div id="renameTabDialog" title="Rename tab" class="mobDOM">
    <form>
        <fieldset>
            <legend>Tab Name</legend>
            <label for="tabName" class="ui-helper-hidden">Name</label>
            <input
                type="text"
                name="name"
                id="tabName"
                value=""
                class="text ui-widget-content ui-corner-all" />
        </fieldset>
    </form>
</div>

<div id="feedPrefs" title="Feed parameters" class="mobDOM">
    <form>

        <fieldset>
            <legend class="ui-corner-top">URL</legend>
            <div class="feedUrl">
                <input type="text" name="url" id="feedUrl" autofocus placeholder="Feed URL (https://reddit.com/.rss)" value="" class="text ui-widget-content ui-corner-all" />
            </div>
        </fieldset>

        <fieldset>
            <legend class="ui-corner-top">Display Type</legend>
            <div class="feedType controlGroup ui-corner-all">
                <label for="mixed">Mixed</label>
                <input type="radio" name="radio-1" id="mixed">
                <label for="photo">Photo</label>
                <input type="radio" name="radio-1" id="photo">
                <label for="text">Text</label>
                <input type="radio" name="radio-1" id="text">
            </div>
        </fieldset>

        <fieldset>
            <legend class="ui-corner-top" class="ui-corner-top">Limit # of items</legend>
            <div class="feedLimit">
                <label for="feedLimitSlider">
                    <input type="text" id="feedLimitSlider" readonly style="border:0; font-weight:bold;">
                </label>

                <div id="feedLimitSlider"></div>
            </div>
        </fieldset>

    </form>
</div>
