<div id="killDialog" class="mobDialog">
    <p>
        <i class="mobylette logoItem icon-motorcycle" aria-hidden="true"></i>
    </p>
</div>

<div id="renameTabDialog" title="Rename tab">
    <form>
        <fieldset>
            <legend>Tab Name</legend>
            <label for="tabName" class="ui-helper-hidden">Name</label>
            <input
                type="text"
                name="name"
                id="tabName"
                value=""
                class="text ui-widget-content ui-corner-all" />
        </fieldset>
    </form>
</div>

<div id="feedPrefs" title="Feed parameters">
    <form>

        <fieldset>
            <legend class="ui-corner-top">URL</legend>
            <div class="feedUrl">
                <input type="text"
                       name="url"
                       id="feedUrl"
                       placeholder="Feed URL (https://reddit.com/.rss)"
                       value=""
                       class="text ui-widget-content ui-corner-all"
                       onclick="select()"
                       autofocus
                />

            </div>
        </fieldset>

        <fieldset id="feedType" class="prefsForm">
            <legend class="ui-corner-top">Display Type</legend>
            <label for="mixed">Mixed</label>
            <input type="radio" name="radio-1" id="mixed" class="feedType">
            <label for="photo">Photo</label>
            <input type="radio" name="radio-1" id="photo" class="feedType">
            <label for="text">Text</label>
            <input type="radio" name="radio-1" id="text" class="feedType">
        </fieldset>

        <fieldset>
            <legend class="ui-corner-top" class="ui-corner-top">Limit # of items</legend>
            <div class="feedLimit">
                <label for="feedLimit" class="ui-helper-hidden">
                    <input type="text" id="feedLimit" />
                </label>

                <div id="feedLimit"></div>
            </div>
        </fieldset>

    </form>
</div>
