<div id="feedPrefs">
  <form>
    <fieldset class="ui-widget ui-widget-content ui-corner-all">
      <legend data-title="Source Location (URL)"
              data-content="Source Location (URL)"
              class="ui-corner-top translate">Source Location (URL)</legend>

      <div id="feedGuess" class="flexBox">
        <input name="guess"
               id="feedGuess"
               placeholder="URL (https://reddit.com)"
               data-title="Enter a website address/URL and click search, then OK, or simply enter the URL of the source"
               value=""
               class="ui-widget-content grow ui-corner-all translate"
        />
        <button id="feedGuess"
                class="shrink"
                type="button">
          <i class="icon-flashlight"></i>
        </button>
      </div>

    </fieldset>

    <fieldset id="feedGroup" class="prefsForm ui-widget ui-widget-content ui-corner-all">

      <legend data-title="Source group"
              data-content="Source group"
              class="ui-corner-top translate">Source group
      </legend>

      <select id="feedGroup"
              class="unique translate"
              name="Group"
              data-title="Group"
              title="Group">
      </select>

    </fieldset>

    <fieldset id="feedType" class="prefsForm ui-widget ui-widget-content ui-corner-all">

      <legend data-title="Source type"
              data-content="Source type"
              class="ui-corner-top translate">Source type
      </legend>

      <div id="feedType"
           class="flexBox">

        <label data-title="Text"
               data-content="Text"
               class="translate grow"
               for="text" >Text</label>
        <input type="radio" name="radio-1" id="text">

        <label data-title="Mixed"
               data-content="Mixed"
               for="mixed"
               class="translate grow">Mixed</label>
        <input type="radio" name="radio-1" id="mixed">

        <label data-title="Photo"
               data-content="Photo"
               class="last translate grow"
               for="photo">Photo</label>
        <input type="radio" name="radio-1" id="photo">

      </div>
    </fieldset>

    <fieldset id="feedLimit" class="ui-widget ui-widget-content ui-corner-all">
      <legend data-content="Number of items"
              class="ui-corner-top translate">Number of items</legend>
      <div class="flexBox">
        <div class="feedLimit grow">
          <label for="feedLimit" class="ui-helper-hidden">
            <input type="text" id="feedLimit" />
          </label>
          <div id="feedLimit"></div>
        </div>
        <label for="spinner" class="ui-helper-hidden">Select a value:</label>
        <input readonly
               id="feedLimitSpinner"
               name="value">
      </div>

    </fieldset>

    <fieldset id="killFeed" class="prefsForm ui-widget ui-widget-content ui-corner-all">

      <legend data-title="Delete this source"
              data-content="Delete this source"
              class="ui-corner-top translate">Delete this source
      </legend>

      <div id="feedDel"
           class="flexBox">
        <input type="checkbox" name="killFeedChbox" id="killFeedChbox">
        <label id="killFeed"
               class="dangerous translate last"
               for="killFeedChbox"
               data-title="Delete source"
               title="Delete source"
               data-content="Delete source">
          Delete Source
        </label>

      </div>
    </fieldset>

  </form>
</div>

<div id="killDialog">
  <div class="dialogWithIcon">
    <div class="icon">
      <i class="icon-bomb danger huge"></i>
    </div>
    <div class="content"></div>
  </div>
</div>

<div id="helpDialog" title="Pétrolette">
  <h1 class="translate"
      data-title="What exactly is Pétrolette?"
      data-content="What exactly is Pétrolette?">What exactly is Pétrolette?</h1>
  <div class="dialog">
    <span class="translate ui"
          data-content="Pétrolette is a news reader focused on preventing anyone to know what you are reading.">
      Pétrolette is a news reader focused on preventing anyone to know what you are reading.
    </span>
    <button class="helpIntroUI translate"
            data-content="Take the tour">
      Take the tour
    </button>

  </div>
  <h2 class="translate"
      data-title="How does it work?"
      data-content="How does it work?">How does it work?</h2>
  <div class="dialog">
    <span class="translate"
          data-content="Pétrolette uses a time-tested technology">
      Pétrolette uses a time-tested technology
    </span>: <a class="rssDocLink" href="https://wikipedia.org/wiki/RSS">RSS</a>.
    <span class="translate"
          data-content="Create sources and organize them into groups.">
      Create sources and organize them into groups.
    </span>
    <h3 class="translate"
        data-title="What is a group?"
        data-content="Why didn't I have to register? Where are my groups and sources saved?">Why didn't I have to register? Where are my groups and sources saved?</h3>
    <span class="translate"
          data-content="Your sources are saved in your browser. Go ahead, try to visit http://petrolette.space with another web browser, and you'll see other sources.">
      Your sources are saved in your browser. Go ahead, try to visit http://petrolette.space with another web browser, and you'll see other sources.
    </span>

    <h4 class="translate"
        data-title="How can I view the same sources on all my devices (like my phone)?"
        data-content="How can I view the same sources on all my devices (like my phone)?">How can I view the same sources on all my devices (like my phone)?</h4>

    <span class="translate"
          data-content="Two ways:">
      Two ways:
    </span>

    <ul class="help">
      <li class="export translate"
          data-content="Use the «Export» button in the menu to save your sources file, then on the other device, use the «Import» button to load this file.">Use the «Export» button in the menu to save your sources file, then on the other device, use the «Import» button to load this file.</li>

      <li class="cloud translate"
          data-content="Or (recommended, much easier) use the synchronize button in the main menu to connect to the cloud - 5Apps, DropBox and Google Drive, only 5Apps is enabled on this instance for now, but you should use it anyway as it is FLOSS software - each change you make will then be reflected on all devices.">Or (recommended, much easier) use the synchronize button in the main menu to connect to the cloud - 5Apps, DropBox and Google Drive, only 5Apps is enabled on this instance for now, but you should use it anyway as it is FLOSS software - each change you make will then be reflected on all devices.</li>

    </ul>

  </div>
  <h3 class="translate"
      data-title="What is a group?"
      data-content="What is a group?">What is a group?</h3>
  <div class="dialog">

    <span class="translate"
          data-content="Just a container for your sources. Specifically, a tab that you can create, (re)name, move, and delete just like usual.">
      Just a container for your sources. Specifically, a tab that you can create, (re)name, move, and delete just like usual.
    </span>
  </div>
  <h3 class="translate"
      data-title="What is a source?"
      data-content="What is a source? How do I create one?">What is a source? How do I create one?</h3>

  <div class="dialog">

    <span class="translate"
          data-content="Click the «New source» button.">
      Click the «New source» button.
    </span>

    <ul class="help">

      <li class="rss translate"
          data-content="If you enter the URL of a valid source (see «RSS feed» above), such as «https://news.google.com/news/rss/rss» Petrolette will display it">If you enter the URL of a valid source (see «RSS feed» above), such as «https://news.google.com/news/rss/rss» Petrolette will display it</li>

      <li class="www translate"
          data-content="Now, if you simply enter the URL of a website, like «https://www.rt.com», Petrolette will try to find the source of this website and display it">Now, if you simply enter the URL of a website, like «https://www.rt.com», Petrolette will try to find the source of this website and display it</li>

      <li class="search translate"
          data-content="And finally, if you enter anything other than a URL, like the expression «bitcoin crash» or «zombie attack», Petrolette will build a source using a free and open source proxy search engine, which will display the latest news on fluctuations in digital currency (or incidents involving undead) every time you update it">And finally, if you enter anything other than a URL, like the expression «bitcoin crash» or «zombie attack», Petrolette will build a source using a free and open source proxy search engine, which will display the latest news on fluctuations in digital currency (or incidents involving undead) every time you update it</li>
    </ul>

  </div>

  <h2 class="translate"
      data-title="How do I use it?"
      data-content="Ok, where do I start?">
    Ok, where do I start?
  </h2>
  <div class="dialog">
    <span class="dialog translate"
          data-content="Learn how to use">
      Learn how to use
    </span>
    <button class="helpIntroUI translate"
            data-content="the groups and the sources">
      the groups and the sources
    </button>
    <span class="dialog translate"
          data-content="and Pétrolette in general.">and Pétrolette in general.</span>
  </div>
</div>

<div id="editGroupDialog">
  <form>
    <fieldset class="prefsForm ui-widget ui-widget-content ui-corner-all">
      <legend id="tabNameLegend"
              class="ui-corner-top translate"
              data-content="Group name">Group Name</legend>
      <div class="flexBox">

        <label for="tabName"
               class="ui-helper-hidden">Name</label>
        <input
          name="name"
          id="tabName"
          value=""
          class="ui-widget-content grow ui-corner-all" />
      </div>
    </fieldset>

    <fieldset class="prefsForm ui-widget ui-widget-content ui-corner-all">
      <legend id="tabMoveLegend"
              class="ui-corner-top translate"
              data-content="Group position">Group position</legend>
      <div class="flexBox">

        <button type="button"
                id="left"
                class="ui-button grow"
                autofocus>
          <i class="icon-left-open"></i>
          <span data-content="Left"
                class="translate">
            Left
          </span>
        </button>
        <button type="button"
                id="right"
                class="ui-button grow last">
          <span data-content="Right"
                class="translate">
            Right
          </span>
          <i class="icon-right-open"></i>
        </button>

      </div>
    </fieldset>
  </form>
</div>
