<nav class="topnav" id="topnav">

  <div id="menuButton"
       class="menuBarItem logoType translate"
       title="Set Pétrolette preferences/options"
       data-title="Set Pétrolette preferences/options">
    <i class="logoType icon-menu"></i>
    <span class="text translate"
          data-content="Menu">
      Menu
    </span>
  </div>
  <div id="helpButton"
       class="menuBarItem logoType translate helpButton"
       title="What exactly is Pétrolette?"
       data-title="What exactly is Pétrolette?">
    <i class="logoType icon-help-1"></i>
    <span class="text translate"
          data-content="Help">
      Help
    </span>
  </div>
  <div id="newSourceButton"
       class="menuBarItem logoType translate"
       title="Add a source"
       data-title="Add a source">
    <i class="logoType icon-plus-1"></i>
    <span class="text translate"
          data-content="Source">
      Source
    </span>
  </div>

  <div id="logoTitle">
    <div class="logoTitle">
      <a href="http://takeoff.petrolette.space">Pétrolette</a>
    </div>
    <div class="logoType">
      <i class="icon-petrolette"></i>
    </div>
    <span id="betaBadge">beta</span>
  </div>

</nav>

<form id="sideMenu">
  <fieldset class="menuForm ui-widget ui-widget-content ui-corner-all">
    <legend id="languageLegend"
            class="ui-corner-top translate"
            data-content="Language">
      Language
    </legend>

    <select id="language"
            class="unique translate"
            name="language"
            data-title="Language"
            title="Language">
      <option id="optionEnglish" class="translate" data-content="English" selected="selected" value="en"></option>
      <option id="optionFrench" class="translate" data-content="Français" value="fr"></option>
      <option id="optionJapanese" class="translate" data-content="日本語" value="ja"></option>
      <option id="optionSpanish" class="translate" data-content="Español" value="es"></option>
    </select>

  </fieldset>

  <fieldset class="ui-widget ui-widget-content ui-corner-all">
    <legend id="tabsLegend"
            class="ui-corner-top translate"
            data-content="Sources">
      Sources
    </legend>

    <div class="flexBox">
      <input id="fileImport"
             type="file"
             style="display: none;" />
      <button id="fileImport"
              class="grow translate"
              data-title="Open / import groups and sources"
              data-content="Import">
        <i class="icon-upload"></i>
        Import
      </button>
      <button id="saveTabs"
              class="grow translate last"
              data-title="Save / export groups and sources"
              data-content="Export">
        <i class="icon-download"></i>
        Export
      </button>
    </div>

    <div id="syncBox"></div>
    <div id="progressBar"><div class="progress-label"></div></div>
  </fieldset>

  <fieldset class="menuForm ui-widget ui-widget-content ui-corner-all">
    <legend id="themeLegend"
            class="ui-corner-top translate"
            data-content="Theme">
      Theme
    </legend>

    <div id="themeBox"
         class="flexBox">

      <label id="dayLabel"
             class="grow translate"
             for="day"
             data-title="Day theme"
             title="Day theme"
             data-content="Day">
        Day
      </label>
      <input id="day" class="themeSwitcher checkboxradio" type="radio" name="radio-1" value="day">

      <label id="nightLabel"
             class="grow translate last"
             for="night"
             data-title="Night theme"
             title="Night theme"
             data-content="Night">
        Night
      </label>
      <input id="night" class="themeSwitcher checkboxradio noBottom" type="radio" name="radio-1" value="night">

    </div>
  </fieldset>

  <fieldset id="galleryBox"
            class="menuForm ui-widget ui-widget-content ui-corner-all">

    <legend id="imageGalleryLegend"
            class="ui-corner-top translate"
            data-content="Image gallery">Image gallery</legend>

    <label class="ui-helper-hidden" for="gallerySlideshowSpeedValue"></label>
    <span id="gallerySlideshowSpeedValue" class="twin"></span>
    <div id="gallerySlideshowSpeed"></div>

    <div class="flexBox">
      <div class="grow">
        <label for="gallerySpeed" class="ui-helper-hidden">
          <input type="text" id="gallerySpeed" />
        </label>
        <div id="gallerySpeedSlider"
             data-title="Slideshow speed"
             class="translate">
        </div>
      </div>
      <label for="spinner" class="ui-helper-hidden">Select a value:</label>
      <input id="gallerySpeedSpinner"
             data-title="Slideshow speed"
             class="translate"
             name="value">

      <select id="gallerySlideTransition"
              class="unique translate"
              data-title="Slide transition">
        <option class="translate"
                data-content="None"
                value="false">None</option>
        <option class="translate"
                data-content="Fade"
                value="fade">Fade</option>
        <option class="translate"
                data-content="Slide"
                value="slide">Slide</option>
        <option class="translate"
                data-content="Circular"
                value="circular">Circular</option>
        <option class="translate"
                data-content="Tube"
                value="tube">Tube</option>
        <option class="translate"
                data-content="Zoom"
                value="zoom-in-out">Zoom-in-out</option>
        <option class="translate"
                data-content="Rotate"
                value="rotate">Rotate</option>
      </select>

    </div>

  </fieldset>

  <fieldset class="menuForm ui-widget ui-widget-content ui-corner-all">
    <legend id="helpLegend"
            data-content="Help"
            class="ui-corner-top translate">
      Help
    </legend>

    <div class="flexBox">

      <button id="sourceCode"
              class="unique icon-petrolette translate"
              data-title="Source code"
              data-content="Source code"
              title="Source code">
        Source code
      </button>

      <button id="help"
              class="grow translate helpButton"
              data-title="What exactly is Pétrolette?"
              title="What exactly is Pétrolette?"
              data-content="WtF">
        WtF
      </button>

      <button id="donate"
              class="grow translate last"
              data-title="Pétrolette (really) needs your help"
              title="Pétrolette (really) needs your help"
              data-content="Donate">
        Donate
      </button>
    </div>

  </fieldset>

  <a href="/about/javascript" data-jslicense="1">JavaScript license information</a>

</form>
