<div class="handle ui-corner-right" title="Preferences">
    <i class="icon-right-open rotate"></i>
</div>

<div id="logo">
    <i class="mobylette logoItem icon-motorcycle" aria-hidden="true"></i>
    <h1 class="logoItem">Mobylette</h1>
</div>

<fieldset class="prefsForm ui-widget ui-widget-content ui-corner-all">
    <legend class="ui-corner-top">Tabs</legend>

    <input type="file" id="fileImport" style="display: none;" />
    <button class="twin left button icon-upload" onclick="document.getElementById('fileImport').click();">Import</button>
    <button class="twin right button icon-download" id="saveTabs"> Export</button>

    <input class="checkboxradio ui-helper-hidden" type="checkbox" name="tabDropActivate" id="tabDropActivate">
    <label class="unique noBottom" for="tabDropActivate">Open tab on feed drop</label>
</fieldset>

<fieldset class="prefsForm ui-widget ui-widget-content ui-corner-all">
    <legend class="ui-corner-top">Theme</legend>

    <label class="twin left noBottom" for="themeLight">Day</label>
    <input class="themeSwitcher checkboxradio" type="radio" name="radio-1" id="themeLight" value="day">

    <label class="twin right noBottom" for="themeDark">Night</label>
    <input class="themeSwitcher checkboxradio noBottom" type="radio" name="radio-1" id="themeDark" value="night">
</fieldset>

<fieldset class="prefsForm ui-widget ui-widget-content ui-corner-all">
    <legend class="ui-corner-top">Image gallery</legend>
    <label class="twin grow" for="amount">Slideshow speed: </label>
    <span id="gallerySlideshowSpeedValue" class="twin"></span>
    <div class="unique" id="gallerySlideshowSpeed"></div>

    <label class="unique" for="gallerySlideTransition">Slide transition</label>
    <select class="unique" id="gallerySlideTransition">
        <option value="false">None</option>
        <option value="fade">Fade</option>
        <option value="slide">Slide</option>
        <option value="circular">Circular</option>
        <option value="tube">Tube</option>
        <option value="zoom-in-out">Zoom-in-out</option>
        <option value="rotate">Rotate</option>
    </select>

</fieldset>

<fieldset class="prefsForm ui-widget ui-widget-content ui-corner-all">
    <legend class="ui-corner-top">Help</legend>
    <button class="unique button icon-heartbeat" id="donate" onclick="location.href='https://liberapay.com/yassinphilip';"> Donate</button>
</fieldset>

<fieldset id="mobNotify" class="sticky-bottom ui-widget ui-widget-content ui-corner-all">
    <legend class="ui-corner-top">Notifications</legend>
    <p></p>
</fieldset>
