:root {
  --color-pri: #2F365F;
  --color-sec: #F0EFF4;
  --color-ter: #333333;
  --color-qua: #8CA9D3;
  --color-qui: #788780; /* visited links */
  --color-sen: #647295;
  --color-sep: #647295;
  --color-oct: #7C818C;
  --color-non: #e3eff3;
  --color-den: #94c2d1;
  --color-danger: #660000;
}
