/* Item */
li.feedItem a {
    display: block;
    width:100%;
    color: #fff;
}

li.feedItem a:link {
}

li.feedItem a:visited {
    color: #ddd !important;
}

li.feedItem a:hover {
    color: #f00 !important;
}

li.feedItem a:active {
    /* color: blue; */
}

li.feedItem {
    background-color: #eee !important;
    padding: .2rem;
}

li.feedItem:nth-child(odd) {
    background-color: #333 !important;
}

li.feedItem:hover {
    background-color: #555 !important;
}

legend {
    background-color: #555 !important;
    color: #e9ce97 !important;
}
