:root {
  --color-pri: #ffffff;
  --color-sec: #FF4136;
  --color-ter: #fdfae9;
  --color-qua: #29323c;
  --color-qui: #B0C4DE; /* visited links */
  --color-sen: #383C4A;
  --color-sep: #4B5162;
  --color-oct: #7C818C;
  --color-non: #404552;
  --color-den: #5a6172;
  --color-danger: #660000;
}
